<ng-container *ngIf="!isLoading; else LoadingFileState">
  <div class="flex flex-col gap-2 text-start">
    <div class="relative flex gap-3 px-3 py-2 h-[48px] text-primary-foreground border border-foreground rounded-[30px]">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-user">
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
        <path d="M15 18a3 3 0 1 0-6 0" />
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7z" />
        <circle cx="12" cy="13" r="2" />
      </svg>
      <div class="flex flex-col  justify-center flex-1 gap-2">
        <p class="text-md line-clamp-2 truncate text-ellipsis">{{filename}}</p>
      </div>
      <button
        class="flex justify-center items-center outline-none shadow-none h-max w-max absolute top-2/4 -translate-y-2/4 right-1">
        <span class="material-icons text-green-500">
          check_circle
        </span>
      </button>
    </div>
    <ion-chip class="min-w-24 h-8 max-w-max px-3 py-1 rounded-lg bg-accent text-primary-foreground"
      (click)="onRemove.emit()">
      <span>
        Eliminar archivo
      </span>
    </ion-chip>
  </div>
</ng-container>
<ng-template #LoadingFileState>
  <div class="flex gap-3 px-3 py-2 w-full h-[48px] rounded-[30px] bg-destructive animate-pulse">

  </div>
</ng-template>