<ion-header mode="ios" [translucent]="false" class="ion-no-border bg-transparent">
  <ion-toolbar color="false" class="bg-transparent">
    <div class="flex justify-between items-center px-2">
      <span (click)="goBack()" class="material-icons text-[36px] text-primary-foreground rounded-full"
        [style.background]="'hsl(0 0% 7% / .15)'">
        chevron_left
      </span>
      <ion-text class="text-lg font-bold text-primary-foreground text-ellipsis line-clamp-1 text-center"></ion-text>

      <ion-chip class="p-0 m-0 bg-[hsl(0 0% 7% / .15)] flex justify-center items-center rounded-full h-[36px] w-[36px]">

        <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor"
          style="font-size: 30px"></ion-menu-button>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="relative -top-[50px] min-h-[230px] h-[230px]">
    <ng-image width="100%" height="230px" [src]="iconFront||biografyAsset" class="imageOverflow w-full h-[230px]" />
    <div class="column imageOverlay">
      <div class="flex items-center image-container absolute max-w-max h-[150px] mt-[140px] z-10">
        <ng-image [src]="icon" width="110px" height="110px"
          class="imageOverflowNew min-w-[110px] min-h-[110px] bg-muted rounded-full" />
      </div>
    </div>
  </div>

  <div class="px-4">
    <ion-text
      class="blackColor16SemiBold text-3xl capitalize font-bold ellipseText text-primary-foreground line-clamp-1"
      style="flex: 4;margin-top: 10px;">
      {{ userData.user.fullname }}
    </ion-text>
    <ion-text class="capitalize text-sm text-ellipsis text-primary-foreground line-clamp-1 mb-[10px]">
      {{ userData.user.specialization }}
    </ion-text>
    <ion-text class="text-ellipsis text-sm text-primary-foreground/80 line-clamp-1 capitalize">
      {{ userData.user.location?.replace('null','') }}
    </ion-text>
  </div>

  <!-- ABOUT ME -->
  <div class="px-4">
    <div class="my-[20px] bg-destructive rounded-xl p-3">
      <div class="rowAlignCenter text-primary-foreground justify-between">
        <ion-text class="font-semibold text-ellipsis text-primary-foreground line-clamp-1 flex-1">
          Acerca de mí
        </ion-text>
      </div>

      <div>
        <ion-text class="text-ellipsis line-clamp-6 text-primary-foreground">
          {{userData.user.about}}
        </ion-text>
        <!-- <div class="ion-text-end">
            <ion-text class="primaryColor15SemiBold" (click)="showMore=!showMore">
              {{showMore?'Leer menos':'Leer más'}}
            </ion-text>
          </div> -->
      </div>
    </div>

    <!-- EXPERIENCE -->
    <div class="">
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <div class="flex flex-col gap-2 text-primary-foreground justify-between mb-[10px]">
          <ion-text class="text-ellipsis font-semibold text-primary-foreground line-clamp-1 flex-1">
            Experiencia
          </ion-text>
          <p class="text-sm">+{{ userData.user.experience ?? 0}} Años de experiencia</p>
        </div>

      </div>
    </div>

    <div>
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <ion-text class="text-ellipsis font-semibold text-primary-foreground" style="flex: 1; -webkit-line-clamp: 1">
          Habilidades
        </ion-text>
        <div class="flex flex-wrap gap-1 px-2 mt-2">
          <ion-chip *ngFor="let item of currentSkill" class="text-primary-foreground px-4 text-sm">
            <ion-label>{{ item }}</ion-label>
          </ion-chip>
        </div>
      </div>


    </div>

    <div>
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <div class="flex items-center justify-between">
          <ion-text class="text-ellipsis font-semibold text-primary-foreground flex-1 line-clamp-1">
            Información del contacto
          </ion-text>

        </div>

        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Dirección de correo electrónico </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ userData.user.email }}
          </ion-text>
        </div>
        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Número de teléfono móvil </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ userData.user.phone }}
          </ion-text>
        </div>

        <div *ngIf="websitesList?.length" class="flex flex-col gap-1.5 mt-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Sitio web </ion-text>
          <div *ngFor="let item of websitesList" class="column" style="margin-top: 3px">
            <ion-text class="text-primary text-sm"> {{item}} </ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="margin20" style="margin-top: 35px">
    <ion-text class="blackColor16SemiBold ellipseText"
      style="flex: 4; -webkit-line-clamp: 1; margin-top: 10px; font-size: 30px; font-weight: bold; text-transform: capitalize;">
      {{ userData.user.fullname }}
    </ion-text>
    <ion-text class="blackColor16SemiBold ellipseText"
      style="flex: 4; -webkit-line-clamp: 1; margin-top: 10px; font-size: 20px; font-weight: bold; text-transform: capitalize;">
      {{ userData.user.specialization }}
    </ion-text>
  </div>
  <div class="divider"></div>

  <div class="margin20" style="margin-top: 35px">
    <div class="rowAlignCenter" style="justify-content: space-between">
      <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
        Información del contacto
      </ion-text>
    </div>
    <div class="column" style="margin: 12px 0">
      <ion-text class="blackColor15Medium"> Dirección de correo electrónico </ion-text>
      <ion-text class="grayColor15Regular" style="margin-top: 3px">
        {{ userData.user.email }}
      </ion-text>
    </div>
    <div class="column" style="margin: 12px 0">
      <ion-text class="blackColor15Medium"> Número de teléfono móvil </ion-text>
      <ion-text class="grayColor15Regular" style="margin-top: 3px">
        {{ userData.user.phone }}
      </ion-text>
    </div>
    <div class="column" style="margin: 12px 0; margin-bottom: 0">
      <ion-text class="blackColor15Medium"> Sitio web </ion-text>
      <div *ngFor="let item of websitesList" class="column" style="margin-top: 3px">
        <ion-text class="blueColor15Regular"> {{item}} </ion-text>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div style="margin: 0 20px">
    <div class="rowAlignCenter" style="justify-content: space-between; margin-bottom: 10px">
      <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
        Acerca de mí
      </ion-text>
    </div>

    <div>
      <ion-text class="ellipseText grayColor15Regular" [style]="!showMore?'-webkit-line-clamp: 3':null">
        {{ userData.user.about }}
      </ion-text>
      <div class="ion-text-end">
        <ion-text class="primaryColor15SemiBold" (click)="showMore=!showMore">
          {{showMore?'Leer menos':'Leer más'}}
        </ion-text>
      </div>
    </div>
  </div>

  <div class="rowAlignCenter" style="margin: 0 20px; margin-top: 10px">
    <div class="rowAlignCenter" style="flex: 1">
      <span class="material-icons" style="color: var(--grayColor); font-size: 18px">business_center</span>
      <ion-text class="grayColor15Medium ellipseText" style="margin-left: 5px; flex: 1; -webkit-line-clamp: 1">
        {{ userData.user.experience }} + Años de experiencia
      </ion-text>
    </div>
    <div class="rowAlignCenter" style="flex: 1">
      <span class="material-icons" style="color: var(--grayColor); font-size: 18px">
        location_pin
      </span>
      <ion-text class="grayColor15Medium" style="margin-left: 5px; flex: 1; -webkit-line-clamp: 1">
        {{ userData.user.location }}
      </ion-text>
    </div>
  </div>

  <div class="divider"></div>

  <div>
    <div class="rowAlignCenter" style="margin: 0 20px; justify-content: space-between">
      <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
        Habilidades
      </ion-text>
    </div>

    <div class="horizontalScroll" style="padding: 0 13px; margin-top: 10px">
      <ion-chip *ngFor="let item of currentSkill" style="display: inline-block">
        <ion-label>{{ item }}</ion-label>
      </ion-chip>
    </div>
  </div> -->
</ion-content>