<app-menu>

  <ion-header mode="ios" [translucent]="false" class="ion-no-border">
    <ion-toolbar color="false" style="background-color: #2758BF;">
      <div class="rowAlignCenter margin20 center" style="position: relative">
        <span (click)="goBack()" class="material-icons headerBackArrow" style="color: #FFF;">
          keyboard_backspace
        </span>
        <ion-text class="whiteColor20Bold ellipseText"
          style="max-width: 80%; -webkit-line-clamp: 1; text-align: center"></ion-text>

        <ion-text style="max-width: 80%; -webkit-line-clamp: 1; text-align: left; position: absolute; right: 0;">
          <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor"
            style="font-size: 30px"></ion-menu-button>
        </ion-text>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div style="position: relative">
      <ion-img [src]="iconFront" class="imageOverflow" style="width: 100%; height: 270px;"></ion-img>
      <div class="column imageOverlay">
        <div class="column image-container" style="position: relative; width: 150px; height: 150px; margin-top: 150px;">
          <ion-img [src]="icon" class="imageOverflowNew" style=" width: 110px; height: 110px; border-radius: 60px;" />
        </div>
      </div>
    </div>

    <div class="margin20" style="margin-top: 35px">
      <ion-text class="blackColor16SemiBold ellipseText"
        style="flex: 4; -webkit-line-clamp: 1; margin-top: 10px; font-size: 30px; font-weight: bold; text-transform: capitalize;">
        {{ userData.user.fullname }}
      </ion-text>
      <ion-text class="blackColor16SemiBold ellipseText"
        style="flex: 4; -webkit-line-clamp: 1; margin-top: 10px; font-size: 20px; font-weight: bold; text-transform: capitalize;">
        {{ userData.user.specialization }}
      </ion-text>
    </div>
    <div class="divider"></div>

    <div class="margin20" style="margin-top: 35px">
      <div class="rowAlignCenter" style="justify-content: space-between">
        <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
          Información del contacto
        </ion-text>
      </div>
      <div class="column" style="margin: 12px 0">
        <ion-text class="blackColor15Medium"> Dirección de correo electrónico </ion-text>
        <ion-text class="grayColor15Regular" style="margin-top: 3px">
          {{ userData.user.email }}
        </ion-text>
      </div>
      <div class="column" style="margin: 12px 0">
        <ion-text class="blackColor15Medium"> Número de teléfono móvil </ion-text>
        <ion-text class="grayColor15Regular" style="margin-top: 3px">
          {{ userData.user.phone }}
        </ion-text>
      </div>
      <div class="column" style="margin: 12px 0; margin-bottom: 0">
        <ion-text class="blackColor15Medium"> Sitio web </ion-text>
        <div *ngFor="let item of websitesList" class="column" style="margin-top: 3px">
          <ion-text class="blueColor15Regular"> {{item}} </ion-text>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div style="margin: 0 20px">
      <div class="rowAlignCenter" style="justify-content: space-between; margin-bottom: 10px">
        <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
          Acerca de mí
        </ion-text>
      </div>

      <div>
        <ion-text class="ellipseText grayColor15Regular" [style]="!showMore?'-webkit-line-clamp: 3':null">
          {{ userData.user.about }}
        </ion-text>
        <div class="ion-text-end">
          <ion-text class="primaryColor15SemiBold" (click)="showMore=!showMore">
            {{showMore?'Leer menos':'Leer más'}}
          </ion-text>
        </div>
      </div>
    </div>

    <div class="rowAlignCenter" style="margin: 0 20px; margin-top: 10px">
      <div class="rowAlignCenter" style="flex: 1">
        <span class="material-icons" style="color: var(--grayColor); font-size: 18px">business_center</span>
        <ion-text class="grayColor15Medium ellipseText" style="margin-left: 5px; flex: 1; -webkit-line-clamp: 1">
          {{ userData.user.experience }} + Años de experiencia
        </ion-text>
      </div>
      <div class="rowAlignCenter" style="flex: 1">
        <span class="material-icons" style="color: var(--grayColor); font-size: 18px">
          location_pin
        </span>
        <ion-text class="grayColor15Medium" style="margin-left: 5px; flex: 1; -webkit-line-clamp: 1">
          {{ userData.user.location }}
        </ion-text>
      </div>
    </div>

    <div class="divider"></div>

    <div>
      <div class="rowAlignCenter" style="margin: 0 20px; justify-content: space-between">
        <ion-text class="blackColor19SemiBold ellipseText" style="flex: 1; -webkit-line-clamp: 1">
          Habilidades
        </ion-text>
      </div>

      <div class="horizontalScroll" style="padding: 0 13px; margin-top: 10px">
        <ion-chip *ngFor="let item of currentSkill" style="display: inline-block">
          <ion-label>{{ item }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-content>
</app-menu>