<ion-header mode="ios" [translucent]="false" class="ion-no-border relative">
  <!-- <div class="absolute top-0 w-full bottom-0 bg-primary -z-10">
  </div> -->
  <ion-toolbar color="false" class="bg-transparent">
    <div class="flex justify-between items-center px-2">
      <span (click)="goBack()" class="material-icons text-[36px] text-primary-foreground rounded-full"
        [style.background]="'hsl(0 0% 7% / .15)'">
        chevron_left
      </span>
      <ion-text class="text-lg font-bold text-primary-foreground text-ellipsis line-clamp-1 text-center"></ion-text>

      <ion-chip class="p-0 m-0 bg-[hsl(0 0% 7% / .15)] flex justify-center items-center rounded-full h-[36px] w-[36px]">

        <ion-menu-button menu="app-menu" class="menu-button-custom rounded-full" color="whiteColor"
          style="font-size: 30px;"></ion-menu-button>
      </ion-chip>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div class="relative -top-[50px] min-h-[230px] h-[230px]">
    <ng-container *ngIf="isProfileLoaded; else ProfileImageFrontLoadingState">
      <ng-image [src]="iconFront||biografyAsset" width="100%" height="230px"
        class="imageOverflow w-full h-full relative z-10" (click)="openModal('front')" />
    </ng-container>
    <ng-template #ProfileImageFrontLoadingState>
      <div class="imageOverflow bg-muted/80 h-[230px]">
        <div class="animate-pulse imageOverflowNew w-full min-h-full bg-muted">
        </div>
      </div>
    </ng-template>
    <div class="column imageOverlay">
      <div class="flex items-center image-container absolute max-w-max h-[150px] mt-[140px] z-10">
        <ng-container *ngIf="isProfileLoaded;else ProfileImageLoadingState">
          <ng-image [fallbackErrorSrc]="stablishUrlPic(null)" [src]="icon" width="110px" height="110px"
            class="imageOverflowNew min-w-[110px] min-h-[110px] bg-muted rounded-full" (click)="openModal('profile')" />
        </ng-container>
        <ng-template #ProfileImageLoadingState>
          <div class="bg-destructive/90 rounded-full">
            <div class="animate-pulse imageOverflowNew min-w-[110px] min-h-[110px] bg-destructive rounded-full">
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isProfileLoaded; else ProfileUserInfoLoadingState">
    <div class="px-4">
      <ion-text
        class="blackColor16SemiBold text-3xl capitalize font-bold ellipseText text-primary-foreground line-clamp-1"
        style="flex: 4;margin-top: 10px;">
        {{ fullName }}
      </ion-text>
      <ion-text class="capitalize text-sm text-ellipsis text-primary-foreground line-clamp-1 mb-[10px]">
        {{ specialization }}
      </ion-text>
      <ion-text class="text-ellipsis text-sm text-primary-foreground/80 line-clamp-1 capitalize">
        {{ location?.replace('null','') }}
      </ion-text>
    </div>
  </ng-container>
  <ng-template #ProfileUserInfoLoadingState>
    <div class="px-4 mt-[10px]">
      <div class="animate-pulse h-5 w-36 rounded-lg bg-destructive mb-2">
      </div>
      <div class="animate-pulse h-3.5 w-20 rounded-lg bg-destructive mb-3">

      </div>
      <div class="animate-pulse h-3.5 w-20 rounded-lg bg-destructive">
      </div>
    </div>
  </ng-template>

  <!-- ABOUT ME -->
  <div class="px-4">
    <ng-container *ngIf="account === 'PERSON' && isProfileLoaded">
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <div class="rowAlignCenter text-primary-foreground justify-between">
          <ion-text class="font-semibold text-ellipsis text-primary-foreground line-clamp-1 flex-1">
            Acerca de mí
          </ion-text>
          <ion-icon id="open-edit-about-profile-modal" name="create-outline" style="font-size: 22px"></ion-icon>
        </div>

        <div *ngIf="about?.length > 0" class="mt-[10px]">
          <ion-text class="text-ellipsis line-clamp-6 text-primary-foreground">
            {{about.replace('null', "Escribe aquí una biografía")}}
          </ion-text>
          <!-- <div class="ion-text-end">
          <ion-text class="primaryColor15SemiBold" (click)="showMore=!showMore">
            {{showMore?'Leer menos':'Leer más'}}
          </ion-text>
        </div> -->
        </div>

        <app-edit-about (onChange)="onChangeEditAbout($event)" />

      </div>

      <!-- EXPERIENCE -->
      <!-- <div class="">
        <div class="my-[20px] bg-destructive rounded-xl p-3">
          <div class="rowAlignCenter text-primary-foreground justify-between">
            <ion-text class="text-ellipsis font-semibold text-primary-foreground flex-1 line-clamp-1">
              Experiencia
            </ion-text>

          </div>
          <div class="w-full grid gap-3 divide-y-[.25px] divide-muted mt-[10px]">
            <ng-container *ngFor="let exp of workExperiencesList">
              <div class="w-full flex flex-col gap-3 py-3">
                <p class="text-lg text-primary-foreground">
                  {{exp.post}}
                </p>
                <p class="text-sm text-primary-foreground/80 m-0">
                  {{exp.serviceProvider}}
                </p>
                <small class="text-sm text-primary-foreground/80 m-0">
                  {{exp.experience}}
                </small>
              </div>
            </ng-container>
          </div>
        </div>
      </div> -->

      <div>
        <div class="my-[20px] bg-destructive rounded-xl p-3">
          <div class="flex justify-between gap-1 items-center">
            <ion-text class="text-ellipsis font-semibold text-primary-foreground line-clamp-1 flex-1">
              Habilidades
            </ion-text>
            <div id="open-add-skills-profile-modal"
              class="center w-[22px] h-[22px] rounded-[4px] border border-[var(--grayColor)]">
              <ion-icon name="add" class="text-[24px] text-primary-foreground"></ion-icon>
            </div>
          </div>

          <ng-container *ngIf="currentSkill.length">
            <div class="flex flex-wrap gap-x-1 gap-y-2 mt-2">
              <ion-chip *ngFor="let item of currentSkill" class="text-primary-foreground py-1.5 px-4 m-0 text-sm">
                <ion-label>{{ item }}</ion-label>
              </ion-chip>
            </div>
          </ng-container>
        </div>

        <app-add-skills (onChange)="onChangeAddSkillsEvent($event)" />
      </div>
    </ng-container>
    <ng-container *ngIf="isProfileLoaded; else ProfileUserContactLoadingState">

      <div class="my-5 bg-destructive rounded-xl p-3">
        <div class="flex items-center justify-between">
          <ion-text class="text-ellipsis font-semibold text-primary-foreground flex-1 line-clamp-1">
            Información del contacto
          </ion-text>
          <button id="open-edit-profile-modal"
            class="bg-transparent outline-none max-w-max max-h-max border-none shadow-none">
            <ion-icon name="create-outline" class="text-[22px] text-primary-foreground"></ion-icon>
          </button>
          <!-- EDIT PROFILE MODAL -->
          <app-edit-profile (onChange)="onChangeEditProfile($event)" />
        </div>

        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Dirección de correo electrónico </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ email }}
          </ion-text>
        </div>
        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Número de teléfono móvil </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ phone }}
          </ion-text>
        </div>

        <div *ngIf="websitesList?.length" class="flex flex-col gap-1.5 mt-6">
          <ion-text class="text-primary-foreground font-medium text-sm"> Sitio web </ion-text>
          <div *ngFor="let item of websitesList" class="column" style="margin-top: 3px">
            <ion-text class="text-primary text-sm"> {{item}} </ion-text>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #ProfileUserContactLoadingState>
      <div class="min-h-[200px] bg-destructive rounded-xl my-5"></div>
    </ng-template>
  </div>




  <!-- CHANGE PROFILE IMAGE MODAL -->
  <ion-modal #changePicSheet mode="ios" [keepContentsMounted]="true" [isOpen]="isModalOpen" (didDismiss)="closeModal()"
    style="--height: auto; --width: 100%;">
    <ng-template>
      <div class="relative mx-3 bg-muted flex flex-col justify-center items-center gap-y-8 rounded-xl px-3 py-5">
        <ng-image [fallbackErrorSrc]="stablishUrlPic(null, modalValue != 'profile')"
          [src]="modalValue == 'profile' ? icon: iconFront" width="110px" height="110px"
          class="imageOverflowNew min-w-[110px] min-h-[110px] bg-muted rounded-full" />
        <button
          class="flex justify-center items-center outline-none shadow-none h-max w-max absolute top-1.5 right-1.5 z-[2]"
          (click)="changePicSheet.dismiss()">
          <span class="material-icons text-xl text-primary-foreground">
            close
          </span>
        </button>
        <div class="w-full flex gap-2 justify-between items-center">
          <ion-chip
            class="text-primary-foreground  text-md flex justify-center items-center font-medium bg-transparent w-full">
            <ion-text (click)="changePicSheet.dismiss(); deletePic()">
              Eliminar foto
            </ion-text>
          </ion-chip>
          <ion-chip
            class="text-primary-foreground bg-primary text-md font-medium w-full h-12 rounded-3xl py-4 flex justify-center items-center"
            (click)="fileInput.click()">
            <ion-text>
              <input type="file" accept=".jpg, .jpeg, .png" style="display: none;" #fileInput
                (change)="handleFileInput($event);changePicSheet.dismiss()">
              Añadir foto
            </ion-text>
          </ion-chip>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>