<ion-content [fullscreen]="true">

  <ion-header mode="ios" [translucent]="true" class="ion-no-border h-[30%] relative">
    <div class="absolute top-0 w-full h-[75%] bg-primary">

    </div>
    <ion-toolbar color="false" class="bg-background">
      <div class="rowAlignCenter" style="justify-content: space-between; margin: 10px 0px 20px 10px">
        <span (click)="goBack()" class="material-icons text-[36px] text-primary-foreground">
          chevron_left
        </span>
        <ion-text class="whiteColor20Bold ellipseText"
          style="max-width: 80%; -webkit-line-clamp: 1; text-align: center"></ion-text>

        <ion-text style="max-width: 80%; -webkit-line-clamp: 1; text-align: left; position: absolute; right: 0;">
          <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor"
            style="font-size: 30px"></ion-menu-button>
        </ion-text>
      </div>
    </ion-toolbar>
    <div class="column imageOverlay">
      <div
        class="flex items-center image-container absolute w-[150px] h-[150px] -bottom-3  sm:-bottom-1 md:bottom-1 z-10">
        <ion-img [src]="icon" class="imageOverflowNew min-w-[110px] min-h-[110px] bg-muted rounded-full"
          style="width: 110px; height: 110px;" (click)="openModal(icon)" />
      </div>
    </div>
  </ion-header>


  <div class="px-4">
    <ion-text
      class="blackColor16SemiBold text-3xl capitalize font-bold ellipseText text-primary-foreground line-clamp-1"
      style="flex: 4;margin-top: 10px;">
      {{ fullName }}
    </ion-text>
    <ion-text class="capitalize text-sm text-ellipsis text-primary-foreground line-clamp-1 mb-[10px]">
      {{ specialization }}
    </ion-text>
    <ion-text class="text-ellipsis text-sm text-primary-foreground/80 line-clamp-1 capitalize">
      {{ location.replace('null','') }}
    </ion-text>
  </div>

  <!-- ABOUT ME -->
  <div class="px-4">
    <ng-template *ngIf="account === 'PERSON'">
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <div class="rowAlignCenter text-primary-foreground justify-between mb-[10px]">
          <ion-text class="blackColor19SemiBold ellipseText text-primary-foreground"
            style="flex: 1; -webkit-line-clamp: 1">
            Acerca de mí
          </ion-text>
          <ion-icon (click)="goTo('edit-about')" name="create-outline" style="font-size: 22px"></ion-icon>
        </div>

        <div>
          <ion-text class="text-ellipsis line-clamp-6 text-primary-foreground">
            {{about.replace('null', "Escribe aquí una biografía")}}
          </ion-text>
          <!-- <div class="ion-text-end">
          <ion-text class="primaryColor15SemiBold" (click)="showMore=!showMore">
            {{showMore?'Leer menos':'Leer más'}}
          </ion-text>
        </div> -->
        </div>
      </div>

      <!-- EXPERIENCE -->
      <div class="">
        <div class="my-[20px] bg-destructive rounded-xl p-3">
          <div class="rowAlignCenter text-primary-foreground justify-between mb-[10px]">
            <ion-text class="text-ellipsis font-semibold text-primary-foreground flex-1 line-clamp-1">
              Experiencia
            </ion-text>

          </div>
          <div class="w-full grid gap-3 divide-y-[.25px] divide-muted">
            <ng-container *ngFor="let exp of workExperiencesList">
              <div class="w-full flex flex-col gap-3 py-3">
                <p class="text-lg text-primary-foreground">
                  {{exp.post}}
                </p>
                <p class="text-sm text-primary-foreground/80 m-0">
                  {{exp.serviceProvider}}
                </p>
                <small class="text-sm text-primary-foreground/80 m-0">
                  {{exp.experience}}
                </small>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- <div class="my-[20px] bg-destructive rounded-xl p-3">
      <div class="rowAlignCenter flex-1">
        <span class="material-icons text-primary-foreground/80 text-lg">business_center</span>
        <ion-text class="text-primary-foreground/80 font-medium text-ellipsis ml-[5px] flex-1 line-clamp-1">
          {{ experienceYear ?? 0}} + Años de experiencia
        </ion-text>
      </div>
      <div class="rowAlignCenter" style="flex: 1">
        <span class="material-icons text-primary-foreground/80 text-lg">
          location_pin
        </span>
        <ion-text class="grayColor15Medium flex-1 ml-[5px] line-clamp-1 text-primary-foreground/80">
          {{ location }}
        </ion-text>
      </div>
    </div> -->

      <div>
        <div class="my-[20px] bg-destructive rounded-xl p-3">
          <ion-text class="text-ellipsis font-semibold text-primary-foreground" style="flex: 1; -webkit-line-clamp: 1">
            Habilidades
          </ion-text>
          <div (click)="goTo('add-skills')" class="center square18 mt-1">
            <ion-icon name="add" class="text-[24px] text-primary-foreground"></ion-icon>
          </div>

          <div class="flex flex-wrap gap-1 px-2 mt-2">
            <ion-chip *ngFor="let item of currentSkill" class="text-primary-foreground px-4 text-sm">
              <ion-label>{{ item }}</ion-label>
            </ion-chip>
          </div>
        </div>


      </div>
    </ng-template>
    <div>
      <div class="my-[20px] bg-destructive rounded-xl p-3">
        <div class="flex items-center justify-between">
          <ion-text class="text-ellipsis font-semibold text-primary-foreground flex-1 line-clamp-1">
            Información del contacto
          </ion-text>
          <ion-icon (click)="goTo('edit-contact')" name="create-outline"
            class="text-[22px] text-primary-foreground"></ion-icon>
        </div>

        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-lg"> Dirección de correo electrónico </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ email }}
          </ion-text>
        </div>
        <div class="flex flex-col gap-1.5 my-6">
          <ion-text class="text-primary-foreground font-medium text-lg"> Número de teléfono móvil </ion-text>
          <ion-text class="text-sm text-primary-foreground/90" style="margin-top: 3px">
            {{ phone }}
          </ion-text>
        </div>

        <div *ngIf="websitesList?.length" class="flex flex-col gap-1.5 mt-6">
          <ion-text class="text-primary-foreground font-medium text-lg"> Sitio web </ion-text>
          <div *ngFor="let item of websitesList" class="column" style="margin-top: 3px">
            <ion-text class="text-primary text-sm"> {{item}} </ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="divider"></div> -->

  <!-- CHANGE PROFILE IMAGE MODAL -->
  <ion-modal #changePicSheet mode="ios" [isOpen]="isModalOpen" (didDismiss)="closeModal()"
    style="--height: auto; --width: 100%;">
    <ng-template>
      <div class="w-full bg-muted flex flex-col justify-center items-center gap-y-8 rounded-xl px-3 py-5">
        <ion-img [src]="stablishUrlPic(modalValue)" class="min-w-[110px] min-h-[110px] rounded-full overflow-hidden"
          style="width: 110px; height: 110px;" (click)="openModal(icon)" />
        <div class="w-full flex gap-2 justify-between items-center">
          <ion-chip
            class="text-primary-foreground  text-lg flex justify-center items-center font-medium bg-transparent w-full">
            <ion-text (click)="changePicSheet.dismiss(); deletePic()">
              Eliminar foto
            </ion-text>
          </ion-chip>
          <ion-chip
            class="text-primary-foreground bg-primary text-lg w-full h-12 rounded-3xl py-4 flex justify-center items-center"
            (click)="fileInput.click()">
            <ion-text>
              <input type="file" accept=".jpg, .jpeg, .png" style="display: none;" #fileInput
                (change)="handleFileInput($event);changePicSheet.dismiss()">
              Añadir foto
            </ion-text>
          </ion-chip>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>