<ion-header mode="ios" [translucent]="false" class="ion-no-border bg-primary">
  <ion-toolbar color="false" class="bg-transparent">
    <div class="w-full flex justify-between items-center px-2 py-5">
      <span (click)="goBack()" class="material-icons text-primary-foreground text-[36px]">
        chevron_left
      </span>
      <ion-chip class="bg-transparent p-0 m-0">
        <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor"
          style="font-size: 30px"></ion-menu-button>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="--background: hsl(var(--primary))">
  <div class="flex justify-center items-center w-full h-full">
    <ion-img [src]="walletUpcommintAsset" class="w-[200px] h-auto object-contain" />
  </div>
</ion-content>