<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" class="bg-background">
    <div class="flex justify-between items-center px-2 py-5" style="position: relative">
      <span (click)="goBack()" class="material-icons text-primary-foreground">
        arrow_back_ios
      </span>
      <ion-text class="text-lg font-bold flex-1 text-center text-ellipsis line-clamp-1 text-primary-foreground">
        Mensajes
      </ion-text>
      <ion-chip class="p-0 m-0 bg-transparent">
        <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor"
          style="font-size: 30px"></ion-menu-button>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-background">
  <ng-container *ngIf="chatsList.length && !isLoadingChatList;">
    <div class="px-1.5">
      <app-chat-messages [messages]="chatsList" (onMessageSelected)="onMessageSelected($event);" />
    </div>
  </ng-container>

  <ng-container *ngIf="isLoadingChatList;">
    <div class="px-1.5">
      <app-chat-messages [isLoading]="true" />
    </div>
  </ng-container>

  <ng-container *ngIf="!chatsList.length && !isLoadingChatList">
    <app-chat-empty-state />
  </ng-container>


</ion-content>

<!-- 

<div class="rounded-top-corners" style="background-color: rgb(255, 255, 255); height: 100%; max-height: 100%; overflow-y: auto;">
    <div *ngFor="let item of chatsList" style="margin: 10px 20px; margin-bottom: 20px">
      <div (click)="goToDetails('message', item)" class="rowAlignCenter" style="justify-content: space-between">
        <div class="rowAlignCenter" style="flex: 1">
          <ion-img [src]="searchIcon(item.sourceImage)" class="imageOverflow"
            style="width: 50px; height: 50px; border-radius: 25px">
          </ion-img>
          <div class="column" style="flex: 1; margin-left: 15px; margin-right: 5px">
            <ion-text class="blackColor18SemiBold ellipseText" style="-webkit-line-clamp: 1">
              {{item.sourceName}}
            </ion-text>
            <ion-text [class]="item.unreadMsgCount?'blackColor15Medium':'grayColor15Regular'" class="ellipseText"
              style="-webkit-line-clamp: 1; margin-top: 2px">
              {{item.lastMsg}}
            </ion-text>
          </div>
        </div>
        <div class="columnAlignCenter">
          <ion-text class="grayColor14Regular"> {{item.lastMsgTime}} </ion-text>
          <div *ngIf="item.unreadMsgCount" class="center messageCountWrapper">
            <ion-text class="whiteColor14Medium ellipseText" style="-webkit-line-clamp: 1">
              {{item.unreadMsgCount}}
            </ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>

-->