.searchFieldWrapper {
  background-color: var(--extraLightGrayColor);
  padding: 15px 12px;
  border-radius: 10px;
  margin-top: 25px;
}

.messageCountWrapper {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--primaryColor);
  margin-top: 5px;
}

.custom-background {
  --background: #2758BF; /* Nuevo color de fondo */
}

/* Add styles for other classes accordingly */
.rounded-top-corners {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  background-color: #2758BF;
}

.dialogButton {
  flex: 1;
  background-color: #2758BF;
  padding: 12px;
}

.menu-button-custom {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}

.custom-fab-icon {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  img {
    width: 56px; /* ajusta si tu ícono es más grande o pequeño */
    height: 56px;
    filter: var(--primary-filter);
    transition: transform 0.2s ease;
  }

  &:active img {
    transform: scale(0.9);
  }
}

/* Convierte el PNG a color primario */
:root {
  --primary-filter: brightness(0) saturate(100%) invert(32%) sepia(92%)
    saturate(3198%) hue-rotate(202deg) brightness(95%) contrast(97%);
}

