<ion-menu #menu class="custom-menu" style="border: none; margin: 0;" side="end" menuId="sidebarMenuChat" contentId="main-content" type="overlay" swipeGesture="true">
  <ion-header mode="ios" [translucent]="false" class="ion-no-border">
    <ion-toolbar color="false" style="background-color: #2758bf; height: 100%;">
      <span class="icon-container" style="text-align: center;">
        <ion-text style="color: white; margin-left: 30%; margin-right: 10px; margin-top: 1px; text-align: center;"> Ett Venezuela </ion-text>
      </span>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item id="openLogoutDialogChat">
        <span class="material-icons side-icon">
          logout
        </span>  
        <div class="side-text">Cerrar sesión</div>
      </ion-item>
    </ion-list>

    <ion-modal mode="md" #logoutDialogChat trigger="openLogoutDialogChat" style="--border-radius: 10px">
      <ng-template>
        <div class="column">
          <ion-text class="blackColor18Medium" style="text-align: center; margin: 20px; margin-bottom: 30px">
            ¿Está seguro de que desea cerrar sesión?
          </ion-text>
          <div class="row">
            <div (click)="logoutDialogChat.dismiss()" class="center dialogButton" style="margin-right: 1px">
              <ion-text class="whiteColor18SemiBold"> Cancelar </ion-text>
            </div>
            <div (click)="logoutDialogChat.dismiss();goTo('auth/login');logout()" class="center dialogButton"
              style="margin-left: 1px">
              <ion-text class="whiteColor18SemiBold"> Cerrar sesión </ion-text>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer>
    <div>
      <ion-text class="whiteColor18SemiBold" style="font-size: 6vw;">text</ion-text>
    </div>
  </ion-footer>
</ion-menu>

<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" style="background-color: #2758BF;">
    <div class="rowAlignCenter margin20 center" style="position: relative">
      <span (click)="goBack()" class="material-icons headerBackArrow" style="color: #FFF;">
        keyboard_backspace
      </span>
      <ion-text class="whiteColor20Bold ellipseText" style="max-width: 80%; -webkit-line-clamp: 1; text-align: center">
        Chats
      </ion-text>
      <ion-text style="max-width: 80%; -webkit-line-clamp: 1; text-align: left; position: absolute; right: 0;">
        <ion-menu-button menu="sidebarMenuChat" class="menu-button-custom" color="whiteColor" style="font-size: 30px"></ion-menu-button>
      </ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <div class="rounded-top-corners" style="background-color: rgb(255, 255, 255); height: 100%; max-height: 100%; overflow-y: auto;">
    <div *ngFor="let item of chatsList" style="margin: 10px 20px; margin-bottom: 20px">
      <div (click)="goToDetails('message', item)" class="rowAlignCenter" style="justify-content: space-between">
        <div class="rowAlignCenter" style="flex: 1">
          <ion-img [src]="searchIcon(item.sourceImage)" class="imageOverflow"
            style="width: 50px; height: 50px; border-radius: 25px">
          </ion-img>
          <div class="column" style="flex: 1; margin-left: 15px; margin-right: 5px">
            <ion-text class="blackColor18SemiBold ellipseText" style="-webkit-line-clamp: 1">
              {{item.sourceName}}
            </ion-text>
            <ion-text [class]="item.unreadMsgCount?'blackColor15Medium':'grayColor15Regular'" class="ellipseText"
              style="-webkit-line-clamp: 1; margin-top: 2px">
              {{item.lastMsg}}
            </ion-text>
          </div>
        </div>
        <div class="columnAlignCenter">
          <ion-text class="grayColor14Regular"> {{item.lastMsgTime}} </ion-text>
          <div *ngIf="item.unreadMsgCount" class="center messageCountWrapper">
            <ion-text class="whiteColor14Medium ellipseText" style="-webkit-line-clamp: 1">
              {{item.unreadMsgCount}}
            </ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>