<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" style="background-color: #121212; height: 100%">
    <div class="rowAlignCenter margin20" style="justify-content: space-between">
      <div class="rowAlignCenter" style="flex: 1">
        <div class="column" style="flex: 2; margin-left: 0px">
          <ion-text class="ellipseText" style="-webkit-line-clamp: 4; color: white; font-size: 24px"
            *ngIf="accountType">
            {{ fullName }}
          </ion-text>
          <ion-text class="ellipseText" style="-webkit-line-clamp: 1; color: white; font-size: 24px"
            *ngIf="!accountType">
            Hola, {{ fullName }}
          </ion-text>
        </div>
      </div>

      <div style="position: relative">
        <ion-buttons style="background-color: #121212; color: white;">
          <ion-menu-button menu="app-menu" class="menu-button-custom" style="padding: 0;"></ion-menu-button>
        </ion-buttons>
      </div>
    </div>

    <ion-chip class="customChip m-[20px] mt-10" style="background-color: #121212; height: 60px">
      <span class="material-icons" style="color: white">
        search
      </span>
      <ion-input mode="ios" placeholder="Buscar" class="textAux"
        style="font-size: 16px; min-height: 20px; --placeholder-color: #FFFBF7;  color: #FFFBF7;" inputmode="text"
        (click)="clearPlaceholder()" (click)="resetPlaceholder()" (input)="goToSearchDelayed($event)"></ion-input>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: #121212;">
  <div>
    <ion-list style="background-color: #121212;">
      <div *ngFor="let item of jobList;let i=index;">
        <div class="row jobCard"
          style="margin-top: 0; background-color: #1E1E1E; display: flex; flex-direction: column; min-height: 200px;">
          <div class="flex justify-between">
            <div class="flex flex-col gap-1.5 justify-between text-primary-foreground">
              <ion-text class="text-lg leading-5 font-medium">
                {{item.title}}
              </ion-text>
              <ion-text class="text-xs text-primary-foreground/90">
                {{item.location}}
              </ion-text>
            </div>
            <div class="column">
              <ion-text class="text-sm text-primary-foreground font-medium">
                Bs.{{item.amount}}/mes
              </ion-text>
            </div>
          </div>
          <div class="w-full mt-5">
            <ion-text class="text-sm text-foreground/90 line-clamp-3 text-ellipsis">
              {{item.description}}
            </ion-text>
          </div>
          <div class="flex justify-end mt-4">
            <ion-text (click)="goToDetails('/bottom-tab-bar/job-detail', item)" class="textAux"
              style="color: white; font-size: 12">
              Ver oferta
            </ion-text>
          </div>
          <div class="w-full mt-6">
            <ion-chip class="bg-primary flex justify-center items-center w-full h-12 rounded-full">
              <ion-text class="text-primary-foreground text-center text-[16px] font-medium">
                Postularme
              </ion-text>
            </ion-chip>
          </div>
        </div>

      </div>
      <ng-container *ngIf="isLoadingJobList">
        <div class="row jobCard animate-pulse h-[200px]" *ngFor="let item of [1,2,3,4,5]"
          style="background-color: hsl(var(--muted));">

        </div>
      </ng-container>
    </ion-list>
    <ion-toast #toast [isOpen]="showToast" mode="ios" [message]="toastMsg" [duration]="1000"
      (didDismiss)="showToast=false; toast.dismiss();" class="whiteColor14Medium"></ion-toast>
  </div>
</ion-content>