.bedgeWrapper {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--redColor);
  border: 1.5px solid var(--whiteColor);
  position: absolute;
  right: 4px;
  top: 2px;
}

.banner {
  background-color: var(--pinkColor);
  border-radius: 10px;
  justify-content: space-between;
  margin: 30px 20px;
  box-shadow: 0px 10px 30px -10px rgba(233, 69, 96, 0.6);
}

.bannerDetailWrapper {
  flex: 1;
  align-items: flex-start;
  padding: 25px;
  padding-right: 10px;
}

.smallButton {
  background-color: var(--primaryColor);
  padding: 8px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.jobTypeWrapper {
  padding: 8px 18px;
  border-radius: 50px;
  margin: 5px;
  margin-bottom: 0px;
}

.custom-background {
  --background: #2758BF; /* Nuevo color de fondo */
}

.card-container {
  position: relative;
}

ion-card {
  margin-top: 40px; /* Ajusta este valor según el tamaño de la imagen para evitar solapamientos */
}

.custom-margin-top {
  margin-top: 0px;
}

.jobCardNew {
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageOverflow {
  /* Styling for the image */
  overflow: hidden;
}

.rowAlignCenter {
  /* Styling for the row with job details */
  display: flex;
  align-items: center;
}

.blackColor18SemiBold {
  /* Styling for job type text */
  font-size: 18px;
  font-weight: 600;
  color: black;
}

/* Add styles for other classes accordingly */
.rounded-top-corners {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  background-color: #2758BF;
}

.dialogButton {
  flex: 1;
  background-color: #2758BF;
  padding: 12px;
}

.menu-button-custom {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}