<ion-menu #menu class="custom-menu" style="border: none; margin: 0;" side="end" menuId="first" contentId="main-content" type="overlay" swipeGesture="true">
  <ion-header mode="ios" [translucent]="false" class="ion-no-border">
    <ion-toolbar color="false" style="background-color: #121212; height: 100%">
      <span class="icon-container">
        <ion-text style="color: white; margin-left: 30%; margin-right: 10px; margin-top: 1px; text-align: center;"> Ett Venezuela </ion-text>
      </span>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: #121212;">
    <ion-list>
      <ion-item id="openLogoutDialogHome"  class="custom-item">
        <span class="material-icons side-icon">
          logout
        </span>  
        <div class="side-text">Cerrar sesión</div>
      </ion-item>
      <ion-item class="custom-item">
        <span class="material-icons">
          info
        </span>
        <div class="side-text">Terminos y condiciones</div>
      </ion-item>
    </ion-list>

    <ion-modal mode="md" #logoutDialog trigger="openLogoutDialogHome" style="--border-radius: 10px">
      <ng-template>
        <div class="column">
          <ion-text class="blackColor18Medium" style="text-align: center; margin: 20px; margin-bottom: 30px">
            ¿Está seguro de que desea cerrar sesión?
          </ion-text>
          <div class="row">
            <div (click)="logoutDialog.dismiss()" class="center dialogButton" style="margin-right: 1px">
              <ion-text class="whiteColor18SemiBold"> Cancelar </ion-text>
            </div>
            <div (click)="logoutDialog.dismiss();goTo('auth/login');logout()" class="center dialogButton"
              style="margin-left: 1px">
              <ion-text class="whiteColor18SemiBold"> Cerrar sesión </ion-text>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer style="background-color: #121212;">
  </ion-footer>
</ion-menu>

<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" style="background-color: #121212; height: 100%">
    <div class="rowAlignCenter margin20" style="justify-content: space-between">
      <div class="rowAlignCenter" style="flex: 1">
        <div class="column" style="flex: 2; margin-left: 0px">
          <ion-text class="ellipseText" style="-webkit-line-clamp: 4; color: white; font-size: 24px" *ngIf="accountType">
            {{ fullName }}
          </ion-text>
          <ion-text class="ellipseText" style="-webkit-line-clamp: 1; color: white; font-size: 24px" *ngIf="!accountType">
            Hola, {{ fullName }}
          </ion-text>
        </div>
      </div>
      
      <div style="position: relative">
        <ion-buttons style="background-color: #121212; color: white;">
          <ion-menu-button  menu="first" class="menu-button-custom"></ion-menu-button>
        </ion-buttons>
      </div>
    </div>

    <ion-chip class="customChip" style="margin: 20px; background-color: #121212; height: 60px">
      <span class="material-icons" style="color: white">
        search
      </span>
      <ion-input 
        mode="ios" 
        placeholder="Buscar"
        class="textAux" 
        style="font-size: 16px; min-height: 20px; --placeholder-color: #FFFBF7;  color: #FFFBF7;" 
        inputmode="text" 
        (click)="clearPlaceholder()"
        (click)="resetPlaceholder()"
        (input)="goToSearchDelayed($event)"
      ></ion-input>
    </ion-chip>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true"  style="background-color: #121212;">
  <div>
    <ion-list  style="background-color: #121212;">
      <div *ngFor="let item of jobList;let i=index;">
        <div class="row jobCard" style="margin-top: 0; background-color: #1E1E1E; display: flex; flex-direction: column; height: 200px;">
          <div class="rowAlignCenter" style="display: flex; justify-content: space-between; align-items: flex-start; margin: 15px;">
            <div class="column" style="margin-right: auto;">
              <ion-text class="textAux" style="color: white; font-size: 18px">
                {{item.title}}
              </ion-text>
              <ion-text class="textAux" style="-webkit-line-clamp: 1; margin-top: 2px; color: white; font-size: 10px">
                {{item.location}}
              </ion-text>
              <!-- <ion-text class="textAux" style="margin-top: 10px; text-align: justify; display: block; letter-spacing: -0.5px; font-size: 12px; color: white">
                {{item.description}}
              </ion-text> -->
            </div>
            <div class="column" style="align-items: flex-end; display: flex; justify-content: flex-end;">
              <ion-text class="textAux" style="color: white; font-size: 12">
                Bs.{{item.amount}}/mes
              </ion-text>
            </div>
          </div>
          <div style="width: 80%; margin-left: 10px; margin-right: 10px">
            <ion-text class="textAux" 
              style="margin-top: 10px; 
                    font-size: 12px;
                    line-height: 1.5; 
                    color: white;">
              {{item.description}}
            </ion-text>
          </div>
          <div class="column" style="align-items: flex-end; display: flex; justify-content: flex-end; margin-top: auto;">
            <ion-text (click)="goToDetails('job-detail', item)" class="textAux" style="color: white; font-size: 12">
              Ver oferta
            </ion-text>
          </div>
          <div style="display: flex; justify-content: center; margin-top: 10px;">
            <ion-chip  style="background-color: #2758BF; display: flex; justify-content: center; align-items: center; width: 90%;">
              <ion-text class="textAux" style="color: white; text-align: center;">
                Postularme
              </ion-text>
            </ion-chip>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-toast #toast [isOpen]="showToast" mode="ios" [message]="toastMsg" [duration]="1000"
      (didDismiss)="showToast=false; toast.dismiss;" class="whiteColor14Medium"></ion-toast>
  </div>
</ion-content>
