<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button tab="home">
      <span class="material-icons" style="font-size: 26px">home_filled</span>
      <ion-label style="margin-top: 10px;">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="newJobs">
      <span class="material-icons" style="font-size: 26px">add</span>
      <!-- <ion-label style="margin-top: 10px;">Nueva oferta</ion-label> -->
      <div style="display: flex; align-items: center; margin-top: 10px;">
        <ion-label>Nueva</ion-label>
        <ion-label style="margin-left: 5px;">oferta</ion-label>
      </div>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <span class="material-icons" style="font-size: 26px">person</span>
      <ion-label style="margin-top: 10px;">Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <span class="material-icons">account_balance_wallet</span>
      <ion-label style="margin-top: 10px;">Billetera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
