ion-tab-bar{
  --background: #121212;
  height: 60px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
}

ion-tab-button{
  --color:#FFFFFF;
  --color-selected:var(--primaryColor);
};

ion-label{
  color: #FFFFFF;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta según sea necesario */
}