.custom-background {
    --background: #2758BF; /* Nuevo color de fondo */
  }
  
  /* Add styles for other classes accordingly */
  .rounded-top-corners {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    background-color: #2758BF;
  }