<ion-header mode="ios" [translucent]="false" class="ion-no-border bg-background">
  <ion-toolbar color="false" class="">
    <div class="flex p-5 justify-between items-center">
      <div class="rowAlignCenter relative" style="flex: 1">
        <span (click)="backspace()" class="material-icons text-primary-foreground text-[28px]">
          arrow_back_ios
        </span>
        <!-- <ion-img [src]="searchIcon(dataChat.sourceImage)" class="imageOverflow sourceLogo"></ion-img> -->
        <div class="column" style="flex: 1">
          <ion-text class="text-[20px] text-primary-foreground text-center font-semibold text-ellipsis line-clamp-1">
            <!-- {{ dataChat?.sourceName }} -->
            Atención al cliente
          </ion-text>
        </div>
        <ion-text class="">
          <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor" style="font-size: 30px"
            (click)="openMenu()"></ion-menu-button>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-background">
  <div class="px-2">
    <div #scrollContainer class="w-full h-full max-h-full flex flex-col gap-4 pt-[20px] overflow-y-auto">
      <div [class]="utils.cn(message.isSender? 'pl-5': 'pr-5')"
        *ngFor="let message of userMessages; trackBy:trackMessagesIndex">
        <div [class]="utils.cn(
          'flex items-center gap-4 py-2 rounded-3xl max-w-max px-4 text-sm',
          message.isSender ? 'bg-primary rounded-tr-none ml-auto': 'bg-muted rounded-tl-none')">
          <p class="text-primary-foreground text-lg">{{message.message}}</p>

        </div>
      </div>
      <ng-container *ngIf="isWritting">
        <div class="pr-5">
          <div class="flex items-center gap-4 py-2 rounded-3xl max-w-max px-4 
            h-[72px] min-w-[250px]
            bg-muted rounded-tl-none animate-pulse">
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isSending">
        <div class="pl-5">
          <div class="flex items-center gap-4 py-2 rounded-3xl max-w-max px-4 
                  bg-primary rounded-tr-none ml-auto">
            <p class="text-primary-foreground text-lg">
              {{messageSending}}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios" class="bg-background">
  <div class="footer px-2" style="background-color: hsl(var(--muted));">
    <ion-textarea [disabled]="isSending" #textArea [(ngModel)]="newMsg" [ngModelOptions]="{standalone: true}" mode="ios"
      placeholder="Escribe un mensaje" class="whiteColor14Regular" rows="1"
      style="--placeholder-color: var(--grayColor); --placeholder-opacity: 1; --color: hsl(var(--primary-foreground));"></ion-textarea>

    <div class="center circle40">
      <ng-container *ngIf="!isSending; else SendingState">
        <ion-icon name="send" class="text-primary text-xl" (click)="addMessage()"></ion-icon>
      </ng-container>
      <ng-template #SendingState>
        <ion-spinner name="lines-sharp-small" class="text-primary text-xl" />
      </ng-template>
    </div>
  </div>
</ion-footer>