<ion-header mode="ios" [translucent]="false" class="ion-no-border bg-background">
  <ion-toolbar color="false" class="">
    <div class="rowAlignCenter margin20 center" style="justify-content: space-between; margin-right: 15px">
      <div class="rowAlignCenter relative" style="flex: 1">
        <span (click)="backspace()" class="material-icons text-primary-foreground text-[28px]">
          arrow_back_ios
        </span>
        <!-- <ion-img [src]="searchIcon(dataChat.sourceImage)" class="imageOverflow sourceLogo"></ion-img> -->
        <div class="column" style="flex: 1">
          <ion-text class="text-[20px] text-primary-foreground text-center font-semibold text-ellipsis line-clamp-1">
            {{ dataChat.sourceName }}
          </ion-text>
        </div>
        <ion-text class="absolute right-1">
          <ion-menu-button menu="app-menu" class="menu-button-custom" color="whiteColor" style="font-size: 30px"
            (click)="openMenu()"></ion-menu-button>
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-background">
  <div class="px-2">
    <div #scrollContainer class="w-full h-full max-h-full flex flex-col gap-4 pt-[20px] overflow-y-auto">
      <div [class]="utils.cn(message.isSender? 'pl-5': 'pr-5')" *ngFor="let message of userMessages">
        <div [class]="utils.cn(
          'flex items-center gap-4 py-2 rounded-3xl max-w-max px-4 text-sm',
          message.isSender ? 'bg-primary rounded-tr-none ml-auto': 'bg-muted rounded-tl-none')">
          <p class="text-primary-foreground text-xl">{{message.message}}</p>

        </div>
      </div>
      <!-- <div *ngFor="let item of userMessages" class="column" style="margin: 10px 10px; margin-bottom: 20px;"
        [style.align-items]="item.isSender?'flex-end':'flex-start'">
        <div style="padding: 10px; border-radius: 10px; max-width: 85%"
          [style.background]="item.isSender?'#2758BF':'var(--extraLightGrayColor)'">
          <ion-text [class]="item.isSender?'whiteColor16Regular':'grayColor16Regular'" style="white-space: pre-line">
            {{item.message}}
          </ion-text>
        </div>
      </div> -->

    </div>
  </div>
</ion-content>

<ion-footer mode="ios" class="bg-background">
  <div class="footer px-2" style="background-color: hsl(var(--muted));">
    <ion-textarea #textArea [(ngModel)]="newMsg" [ngModelOptions]="{standalone: true}" mode="ios"
      placeholder="Escribe un mensaje" class="whiteColor14Regular" rows="1"
      style="--placeholder-color: var(--grayColor); --placeholder-opacity: 1; --color: hsl(var(--primary-foreground));"></ion-textarea>

    <div class="center circle40">
      <ion-icon name="send" style="font-size: 20px; color:#2758BF" (click)="addMessage()"></ion-icon>
    </div>
  </div>
</ion-footer>