@font-face{
  font-family: 'CompactDisplay';
  src:url('../assets/fonts/SF-Compact-Display-Regular.ttf');
}
@font-face{
  font-family: 'CompactDisplay';
  src:url('../assets/fonts/SF-Compact-Display-Medium.ttf');
  font-weight: 500;
}
@font-face{
  font-family: 'CompactDisplay';
  src:url('../assets/fonts/SF-Compact-Display-SemiBold.ttf');
  font-weight: 600;
}
@font-face{
  font-family: 'CompactDisplay';
  src:url('../assets/fonts/SF-Compact-Display-Bold.ttf');
  font-weight: 700;
}