.whiteColor16Regular {
  color: var(--whiteColor);
  font-size: 16px;
}

.whiteColor14Medium {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 500;
}

.whiteColor16Medium {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 500;
}

.whiteColor18SemiBold {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: 600;
}

.whiteColor19SemiBold {
  color: var(--whiteColor);
  font-size: 19px;
  font-weight: 600;
}

.whiteColor20SemiBold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 600;
}

.whiteColor20Bold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 700;
}

.blackColor14Regular {
  color: var(--blackColor);
  font-size: 14px;
}

.blackColor15Regular {
  color: var(--blackColor);
  font-size: 15px;
}

.blackColor16Regular {
  color: var(--blackColor);
  font-size: 16px;
}

.blackColor15Medium {
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 500;
}

.blackColor16Medium {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 500;
}

.blackColor18Medium {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 500;
}

.blackColor17SemiBold {
  color: var(--blackColor);
  font-size: 17px;
  font-weight: 600;
}

.blackColor18SemiBold {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 600;
}

.blackColor19SemiBold {
  color: var(--blackColor);
  font-size: 19px;
  font-weight: 600;
}

.blackColor20Bold {
  color: var(--blackColor);
  font-size: 20px;
  font-weight: 700;
}

.blackColor22Bold {
  color: var(--blackColor);
  font-size: 22px;
  font-weight: 700;
}

.grayColor13Regular {
  color: var(--grayColor);
  font-size: 13px;
}

.grayColor14Regular {
  color: var(--grayColor);
  font-size: 14px;
}

.grayColor15Regular {
  color: var(--grayColor);
  font-size: 15px;
}

.grayColor16Regular {
  color: var(--grayColor);
  font-size: 16px;
}

.grayColor15Medium {
  color: var(--grayColor);
  font-size: 15px;
  font-weight: 500;
}

.grayColor16Medium {
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 500;
}

.grayColor18Medium {
  color: var(--grayColor);
  font-size: 18px;
  font-weight: 500;
}

.grayColor19SemiBold {
  color: var(--grayColor);
  font-size: 19px;
  font-weight: 600;
}

.primaryColor16Medium {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 500;
}

.primaryColor15SemiBold {
  color: var(--primaryColor);
  font-size: 15px;
  font-weight: 600;
}

.primaryColor16SemiBold {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 600;
}

.primaryColor18SemiBold {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 600;
}

.primaryColor20SemiBold {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 600;
}

.primaryColor16Bold{
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 700;
}

.primaryColor20Bold{
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 700;
}

.blueColor15Regular {
  color: var(--blueColor);
  font-size: 15px;
}

.redColor16Regular {
  color: var(--redColor);
  font-size: 16px;
}

.redColor15SemiBold {
  color: var(--redColor);
  font-size: 15px;
  font-weight: 600;
}

.greenColor15SemiBold {
  color: var(--greenColor);
  font-size: 15px;
  font-weight: 600;
}

.pinkColor16Bold{
  color: var(--pinkColor);
  font-size: 16px;
  font-weight: 700;
}

.pinkColor20Bold{
  color: var(--pinkColor);
  font-size: 20px;
  font-weight: 700;
}
