:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 221 66% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 66% 75%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 0% 13%;
    --destructive-foreground: 30 100% 98%;

    --muted: 0 0% 17%;
    --muted-foreground: 30 100% 98%;

    --accent: 213 73% 22%;
    --accent-foreground: 30 100% 98%;

    --input: 30 100% 98%;
    --border: 0 0% 17%;

}