@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --primary: 221 66% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 66% 75%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 0% 12%;
    --destructive-foreground: 0 1% 52%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 1% 58%;
    //2C2C2C
    --accent: 0 0% 17%;
    --accent-foreground: 30 100% 98%;

    --input: 30 100% 98%;
    --border: 0 0% 17%;

}