<ion-modal #addSkillModal mode="md" [canDismiss]="isSubmitting?false:true" trigger="open-add-skills-profile-modal"
  style="--border-radius: 16px">
  <ng-template>
    <div
      class="my-2 bg-muted flex flex-col justify-center items-center rounded-xl px-3 py-5 h-full max-h-[720px] overflow-y-auto">
      <ion-text class="text-primary-foreground text-2xl font-semibold text-center mb-7">
        Agregar habilidades
      </ion-text>

      <div class="w-full flex-1 flex flex-col gap-4 max-h-full overflow-y-auto text-center">
        <div class="flex flex-wrap gap-1 gap-y-2">
          <ng-container *ngFor="let item of recommendedList;let i=index;">
            <div class="rounded-full flex items-center justify-between gap-1 max-w-max px-4 py-1"
              (click)="item.isSelected=!item.isSelected"
              [style.border-color]="item.isSelected?'hsl(var(--primary))':'hsl(var(--destructive))'"
              [style.background]="item.isSelected? 'hsl(var(--primary))':'hsl(var(--accent))'">
              <ion-text [class]="utils.cn(
                      'text-primary-foreground/80 text-sm text-left flex-1 line-clamp-1 text-ellipsis',
                      item.isSelected && 'text-primary-foreground'
                    )">
                {{item.skill}}
              </ion-text>
              <span [class]="utils.cn(
                      'material-icons text-lg ml-1 text-accent',
                    item.isSelected && 'text-primary-foreground'
                    )">
                {{item.isSelected?'check':'add'}}
              </span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="w-full flex gap-2 justify-end items-center mt-5">
        <ion-chip [disabled]="isSubmitting"
          class="text-primary-foreground  text-md flex justify-center items-center font-medium bg-transparent px-4">
          <ion-text (click)="addSkillModal.dismiss()">
            Cancelar
          </ion-text>
        </ion-chip>
        <ion-chip [disabled]="isSubmitting"
          class="text-primary-foreground bg-primary text-md font-medium h-12 rounded-3xl py-4 px-6 flex justify-center items-center"
          (click)="updateUser()">
          <ion-text>
            {{isSubmitting ? 'Guardando...': 'Guardar'}}
          </ion-text>
        </ion-chip>
      </div>
    </div>
  </ng-template>
</ion-modal>