<ion-modal #addSkillModal mode="md" [keepContentsMounted]="true" [canDismiss]="isSubmitting?false:true"
  trigger="open-add-skills-profile-modal" style="--border-radius: 16px">
  <ng-template>
    <div
      class="my-2 bg-muted flex flex-col justify-center items-center rounded-xl px-3 py-5 h-full max-h-[720px] overflow-y-auto">
      <ion-text class="text-primary-foreground text-2xl font-semibold text-center mb-7">
        Agregar habilidades
      </ion-text>

      <div class="w-full flex-1 flex flex-col gap-4 max-h-full overflow-y-auto text-center">
        <div class="flex flex-col gap-2 text-start">
          <ion-chip class="field">
            <ion-input mode="ios" type="text" placeholder="Agrega una habilidad" [(ngModel)]="skill"
              (keyup.enter)="addSkill()">
            </ion-input>
          </ion-chip>
          <div class="px-3 flex flex-1 flex-wrap gap-1 max-h-[480px] overflow-y-auto">
            <ion-chip class="bg-foreground flex items-center gap-1 max-w-max"
              *ngFor="let item of currentSkill; let index = index">
              <ion-label class="text-destructive text-sm">{{ item }}</ion-label>
              <ion-icon name="close-circle" (click)="removeSkill(index)" class="text-primary"></ion-icon>
            </ion-chip>
          </div>
          <p class="px-3 flex flex-1 flex-wrap gap-1 max-h-[480px] overflow-y-auto" style="font-size: 0.85em; color: #8a8a8a; margin-top: 4px;">
            Ingresa habilidades palabra por palabra, presionando “Enter” para agregarlas.
          </p>
        </div>

      </div>
      <div class="w-full flex gap-2 justify-end items-center mt-5">
        <ion-chip [disabled]="isSubmitting"
          class="text-primary-foreground  text-md flex justify-center items-center font-medium bg-transparent px-4">
          <ion-text (click)="addSkillModal.dismiss()">
            Cancelar
          </ion-text>
        </ion-chip>
        <ion-chip [disabled]="isSubmitting"
          class="text-primary-foreground bg-primary text-md font-medium h-12 rounded-3xl py-4 px-6 flex justify-center items-center"
          (click)="updateUser(addSkillModal)">
          <ion-text>
            {{isSubmitting ? 'Guardando...': 'Guardar'}}
          </ion-text>
        </ion-chip>
      </div>
    </div>
  </ng-template>
</ion-modal>