<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" class="mt-4 mb-8 bg-background">
    <div class="flex justify-between mx-[10px] mb-[20xp]">
      <span (click)="goBack()" class="material-icons" style="color: #fff; font-size: 32px">
        chevron_left
      </span>
      <ion-text class="flex-1 text-center whiteColor20Bold ellipseText"
        style="max-width: 80%; -webkit-line-clamp: 1; text-align: center">
        Detalles de la oferta
      </ion-text>
      <div style="position: relative">
        <ion-buttons style="background-color: #121212; color: white;">
          <ion-menu-button menu="app-menu" class="menu-button-custom"></ion-menu-button>
        </ion-buttons>
      </div>
      <!-- <ion-icon id=openEditJobs *ngIf="account === 'COMPANY'" name="create-outline" color="whiteColor" style="font-size: 30px;"></ion-icon> -->
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-background" style="--background: hsl(var(--background))">
  <div class="bg-muted m-auto 
  w-[95%] h-full max-h-[95%] max-w-[95%] rounded-xl p-5 
  relative overflow-hidden overflow-y-auto
  flex flex-col" style="word-wrap: break-word;">
    <div class="flex justify-between">
      <div class="flex flex-col gap-1.5 justify-between text-primary-foreground">
        <ion-text class="text-xl leading-5 font-medium">
          {{dataJobs.title}}
        </ion-text>
        <ion-text class="text-xs text-primary-foreground/90">
          {{dataJobs.location}}
        </ion-text>
      </div>
      <div class="column">
        <ion-text class="text-sm text-primary-foreground font-medium">
          Bs.{{dataJobs.amount}}/mes
        </ion-text>
      </div>
    </div>
    <ion-chip class="bg-foreground mt-5 py-1 px-7 text-center max-w-fit rounded-full">
      <ion-text class="text-destructive text-sm">{{ dataJobs.type_time }}</ion-text>
    </ion-chip>
    <ng-container *ngIf="account == 'COMPANY'">
      <div class="flex flex-col gap-3 my-5">
        <ion-text class="text-primary-foreground font-medium text-lg">
          Postulaciones:
          <strong>{{ dataJobs.appliedJobs?.length ?? 0 }}</strong></ion-text>

        <ion-chip *ngIf="dataJobs.appliedJobs?.length" id="openModalAppliedJobs"
          class="bg-primary flex justify-center items-center w-full h-12 rounded-full">
          <ion-text class="text-primary-foreground text-lg font-medium">Ver candidatos</ion-text>
        </ion-chip>
      </div>
    </ng-container>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux" style="color: #FFFFFF; font-size: 18px; flex: 1; -webkit-line-clamp: 1; line-clamp: 1;">
        Acerca del empleo
      </ion-text>
    </div>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux text-pretty"
        style="color: #FFFFFF; font-size: 12px; flex: 1; word-break: break-word; overflow: hidden; white-space: normal;">
        {{ dataJobs.description }}
      </ion-text>
    </div>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux" style="color: #FFFFFF; font-size: 18px; flex: 1; -webkit-line-clamp: 1; line-clamp: 1;">
        Requisitos
      </ion-text>
    </div>
    <div *ngFor="let item of dataJobs.requeriment" class="row" style="margin-top: 10px;">
      <div class="bullet"></div>
      <ion-text class="textAux" style="flex: 1; color: #FFFFFF; font-size: 12px; margin-left: 5px;">
        {{ item }}
      </ion-text>
    </div>
    <div *ngIf="!isAccountCompany" class="w-full mt-auto flex justify-between gap-2 pt-5">
      <ion-chip *ngIf="!applied" id="openModalMessage" class="bg-muted flex justify-center items-center w-full h-12">
        <ion-text class="text-primary-foreground text-sm font-medium">Enviar mensaje</ion-text>
      </ion-chip>
      <ion-chip id="openModal" [class]="utils.cn(
        'flex justify-center items-center w-full h-12 rounded-3xl',
        applied ? 'bg-foreground/90 cursor-not-allowed': 'bg-primary cursor-pointer' 
      )" (click)="!applied && applicateJob()">
        <ion-text [class]="utils.cn(
          'text-md font-medium text-center',
          applied ? 'text-primary/90 font-semibold': 'text-primary-foreground'
        )">
          {{ isApplying ? 'Aplicando...': applyButton }}
        </ion-text>
      </ion-chip>

    </div>
    <div *ngIf="isAccountCompany" class="w-full mt-auto flex justify-between gap-2 pt-5">
      <ion-chip id="openEditJobs"
        class="flex justify-center items-center w-full h-12 rounded-3xl bg-primary cursor-pointer">
        <ion-text class="text-md font-medium text-center text-primary-foreground">
          Editar
        </ion-text>
      </ion-chip>
    </div>
  </div>
</ion-content>

<ion-modal mode="md" #modal trigger="openModalMessage" style="--border-radius: 5px; --background: #2C2C2C;">
  <ng-template>
    <div class="column" style="background-color: #2C2C2C;">
      <div class="center column" style="margin: 0 20px; margin-bottom: 0px">
        <ion-text class="textAux"
          style="margin-bottom: 20px; text-align: center; margin-top: 20px; font-size: 22px; color:#FFFFFF">
          Enviar mensaje
        </ion-text>
      </div>
      <div class="textFieldWrapper" style="background-color: #2C2C2C;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px"> Mensaje </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #2C2C2C">
          <ion-input mode="ios" placeholder="Escribe tu mensaje" class="textAux"
            placeholder="Escribe tu mensaje aquí..."
            style="color: #FFFFFF; font-size: 12px; margin-bottom: 10px; resize: none; width: 100%; max-width: 100%; min-height: 50px;"
            [(ngModel)]="message" inputmode="text">
          </ion-input>
        </ion-chip>
      </div>

      <!-- Aquí aplicamos los cambios -->
      <div style="display: flex; justify-content: center; margin:10px">
        <ion-chip (click)="modal.dismiss()"
          style="background-color: #2C2C2C; display: flex; justify-content: center; align-items: center; width: 45%; margin-right: 10px;">
          <ion-text class="textAux" style="color: white; text-align: center;">
            Cancelar
          </ion-text>
        </ion-chip>
        <ion-chip (click)="sendMessage(message);modal.dismiss()"
          style="background-color: #2758BF; display: flex; justify-content: center; align-items: center; width: 45%; margin-left: 10px;">
          <ion-text class="textAux" style="color: white; text-align: center;">
            Enviar
          </ion-text>
        </ion-chip>
      </div>
    </div>

  </ng-template>
</ion-modal>

<!-- CANDIDATES MODAL -->
<ion-modal mode="md" #modal trigger="openModalAppliedJobs" style="--border-radius: 5px; --background: #2C2C2C;">
  <ng-template>
    <div class="flex flex-col gap-4 bg-muted rounded-2xl px-3 py-5">
      <p class="text-2xl text-primary-foreground font-semibold text-center my-3">
        candidatos
      </p>

      <ng-container *ngFor="let candidate of dataJobs.appliedJobs">
        <div class="w-full flex flex-col gap-4 px-2">
          <div class="w-full flex gap-2">
            <img [src]="stablishUrlPic(candidate.user.icon)" alt="Candidate Icon"
              class="min-w-[90px] min-h-[90px] size-[90px] rounded-full overflow-hidden" />
            <div class="flex-1 text-start text-primary-foreground text-lg">
              <p>{{candidate.user.fullname}}</p>
              <p class="text-muted text-sm">
                {{candidate.user.specialization}}
              </p>
            </div>
          </div>
          <ion-chip
            class="bg-primary h-12 text-primary-foreground text-lg font-medium rounded-full flex justify-center items-center"
            (click)="goToDetails('/candidate', candidate)">
            Ver perfil
          </ion-chip>
        </div>
      </ng-container>
    </div>

  </ng-template>
</ion-modal>

<ng-container *ngIf="account == 'COMPANY'">
  <app-edit-job-detail [job]="dataJobs" />
</ng-container>