.divider {
  background-color: var(--lightGrayColor);
  height: 1px;
  margin: 20px;
}

.bullet {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: #FFFFFF;
  margin-top: 5px;
}

.smallButton {
  background-color: var(--primaryColor);
  border-radius: 20px;
  padding: 8px 18px;
  box-shadow: 0 2px 6px var(--primaryColor);
  margin-top: 8px;
}

.dashedBorderBox {
  background-color: var(--lightPrimaryColor);
  border: 1.5px dashed var(--primaryColor);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px;
}
.dialogButton {
  flex: 1;
  background-color: #2758BF;
  padding: 12px;
}
.dialogHeader {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  margin-top: 20px;
}

.custom-background {
  --background: #2758BF; /* Nuevo color de fondo */
}

/* Add styles for other classes accordingly */
.rounded-top-corners {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  background-color: #2758BF;
}

.menu-button-custom {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}

ion-content {
  --background: #121212; /* Establecer el fondo del ion-content */
  --ion-color-background: #121212; /* Asegurarte de que el color de fondo se aplique */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar relleno */
  border: none; /* Eliminar bordes */
}

.customChip {
  background-color: black; /* Color de fondo del chip */
  border-radius: 100px; /* Bordes redondeados */
  border: 1px solid white;
  padding: 1px 20px; /* Espaciado interno */
  display: flex; /* Flex para centrar contenido */
  margin-left: 0%;
  margin-right: 0%;
  height: 40px;
}

.textAux {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}