<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" class="mt-4 mb-8 bg-background">
    <div class="flex justify-between mx-[10px] mb-[20xp]">
      <span (click)="goBack()" class="material-icons" style="color: #fff; font-size: 32px">
        chevron_left
      </span>
      <ion-text class="flex-1 text-center whiteColor20Bold ellipseText"
        style="max-width: 80%; -webkit-line-clamp: 1; text-align: center">
        Detalles de la oferta
      </ion-text>
      <div style="position: relative">
        <ion-buttons style="background-color: #121212; color: white;">
          <ion-menu-button menu="app-menu" class="menu-button-custom"></ion-menu-button>
        </ion-buttons>
      </div>
      <!-- <ion-icon id=openEditJobs *ngIf="account === 'COMPANY'" name="create-outline" color="whiteColor" style="font-size: 30px;"></ion-icon> -->
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-background" style="--background: hsl(var(--background))">
  <div class="bg-muted m-auto 
  w-[95%] h-full max-h-[95%] max-w-[95%] rounded-xl p-5 
  relative overflow-hidden overflow-y-auto
  flex flex-col" style="word-wrap: break-word;">
    <div class="flex justify-between">
      <div class="flex flex-col gap-1.5 justify-between text-primary-foreground">
        <ion-text class="text-xl leading-5 font-medium">
          {{dataJobs.title}}
        </ion-text>
        <ion-text class="text-xs text-primary-foreground/90">
          {{dataJobs.location}}
        </ion-text>
      </div>
      <div class="column">
        <ion-text class="text-sm text-primary-foreground font-medium">
          Bs.{{dataJobs.amount}}/mes
        </ion-text>
      </div>
    </div>
    <ion-chip class="bg-foreground mt-5 py-1 px-7 text-center max-w-fit rounded-full">
      <ion-text class="text-destructive text-sm">{{ dataJobs.type_time }}</ion-text>
    </ion-chip>
    <ng-container *ngIf="account == 'COMPANY'">
      <div class="flex flex-col gap-3 my-5">
        <ion-text class="text-primary-foreground font-medium text-lg">
          Postulaciones:
          <strong>{{ dataJobs.appliedJobs?.length ?? 0 }}</strong></ion-text>

        <ion-chip *ngIf="dataJobs.appliedJobs?.length" id="open-candidates-modal"
          class="bg-primary flex justify-center items-center w-full h-12 rounded-full">
          <ion-text class="text-primary-foreground text-lg font-medium">Ver candidatos</ion-text>
        </ion-chip>
      </div>
    </ng-container>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux" style="color: #FFFFFF; font-size: 18px; flex: 1; -webkit-line-clamp: 1; line-clamp: 1;">
        Acerca del empleo
      </ion-text>
    </div>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux text-pretty"
        style="color: #FFFFFF; font-size: 12px; flex: 1; word-break: break-word; overflow: hidden; white-space: normal;">
        {{ dataJobs.description }}
      </ion-text>
    </div>
    <div class="rowAlignCenter" style="justify-content: space-between; margin-top: 20px;">
      <ion-text class="textAux" style="color: #FFFFFF; font-size: 18px; flex: 1; -webkit-line-clamp: 1; line-clamp: 1;">
        Requisitos
      </ion-text>
    </div>
    <div *ngFor="let item of dataJobs.requeriment" class="row" style="margin-top: 10px;">
      <div class="bullet"></div>
      <ion-text class="textAux" style="flex: 1; color: #FFFFFF; font-size: 12px; margin-left: 5px;">
        {{ item }}
      </ion-text>
    </div>
    <div *ngIf="!isAccountCompany" class="w-full mt-auto flex justify-between gap-2 pt-5">
      <ion-chip *ngIf="!applied" id="openModalMessage" class="bg-muted flex justify-center items-center w-full h-12">
        <ion-text class="text-primary-foreground text-sm font-medium">Enviar mensaje</ion-text>
      </ion-chip>
      <ion-chip id="openModal" [class]="utils.cn(
        'flex justify-center items-center w-full h-12 rounded-3xl bg-primary cursor-pointer',
        applied && 'applied bg-foreground/90 cursor-not-allowed' 
      )" (click)="!applied && applicateJob()">
        <ion-text [class]="utils.cn(
          'text-md font-medium text-center text-primary-foreground',
          applied && 'text-primary/90 font-semibold'
        )">
          {{ isApplying ? 'Aplicando...': applyButton }}
        </ion-text>
      </ion-chip>

    </div>
    <div *ngIf="isAccountCompany" class="w-full mt-auto flex justify-between gap-2 pt-5">
      <ion-chip id="openEditJobs"
        class="flex justify-center items-center w-full h-12 rounded-3xl bg-primary cursor-pointer">
        <ion-text class="text-md font-medium text-center text-primary-foreground">
          Editar
        </ion-text>
      </ion-chip>
    </div>
  </div>
</ion-content>

<ion-modal mode="md" #modal trigger="openModalMessage" style="--border-radius: 5px; --background: #2C2C2C;">
  <ng-template>
    <div
      class="my-2 bg-muted flex flex-col justify-center items-center rounded-xl px-3 py-5 h-full max-h-full overflow-y-auto">
      <ion-text class="text-primary-foreground text-2xl font-semibold text-center mb-7">
        Enviar mensaje
      </ion-text>

      <div class="w-full flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground">Mensaje </ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" placeholder="Escribe tu mensaje" placeholder="Escribe tu mensaje aquí..."
            [(ngModel)]="message" inputmode="text">
          </ion-input>
        </ion-chip>
      </div>

      <!-- Aquí aplicamos los cambios -->
      <div class="w-full flex gap-1 items-center justify-between mt-5">
        <ion-chip
          class="w-full flex items-center justify-center bg-accent text-primary-foreground rounded-full text-md font-medium h-12"
          (click)="modal.dismiss()">
          <ion-text>
            Cancelar
          </ion-text>
        </ion-chip>
        <ion-chip
          class="w-full flex items-center justify-center bg-primary text-primary-foreground rounded-full text-md font-medium h-12"
          (click)="sendMessage(message);modal.dismiss()">
          <ion-text>
            Enviar
          </ion-text>
        </ion-chip>
      </div>
    </div>

  </ng-template>
</ion-modal>

<!-- CANDIDATES MODAL -->
<app-candidates [candidates]="dataJobs.appliedJobs ?? []" (onSeeDetails)="goToDetails('/candidate', $event)" />

<ng-container *ngIf="isAccountCompany">
  <app-edit-job-detail [job]="dataJobs" />
</ng-container>