<div class="flex flex-col bg-destructive py-5 px-[15px] rounded-xl min-h-[150px]">
  <div class="flex justify-between">
    <div class="flex flex-col gap-1.5 justify-between text-primary-foreground">
      <ion-text class="text-lg leading-5 font-medium">
        {{job.title}}
      </ion-text>
      <ion-text class="text-xs text-primary-foreground/90">
        {{job.location}}
      </ion-text>
    </div>
    <div class="column">
      <ion-text class="text-sm text-primary-foreground font-medium">
        REF.{{job.amount}}/mes
      </ion-text>
    </div>
  </div>
  <div class="w-full mt-5">
    <ion-text class="text-sm text-foreground/90 line-clamp-3 text-ellipsis">
      {{job.description}}
    </ion-text>
  </div>
  <div class="flex justify-end mt-4">
    <ion-text (click)="goTo('auth/login')" class="textAux cursor-pointer" style="color: white; font-size: 12">
      Ver oferta
    </ion-text>
  </div>
  <div class="w-full mt-6">
    <ion-chip 
      class="bg-primary text-primary-foreground flex justify-center items-center w-full h-12 rounded-full"
      (click)="goTo('auth/login')">
      <ion-text class="text-center text-md font-medium">
        Aplica ahora
      </ion-text>
    </ion-chip>
  </div>

</div>