<ion-header mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar color="whiteColor" style="height: 0"></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="textTitle" style="justify-content: center; display: flex; margin: 0 28px">
    Iniciar Sesión
  </ion-text>

  <div style="margin-top: 30px">
    <div class="textFieldWrapper">
      <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px"> Correo electrónico </ion-text>
      <ion-chip class="customChip" style="margin-top: 10px;">
        <ion-input mode="ios" placeholder="Introduce tu correo" 
          class="textField whiteColor16Medium"
          style="margin: 0; padding-left: 10px;" 
          [(ngModel)]="email" inputmode="email" (ionChange)="validateEmail()">
        </ion-input>
      </ion-chip>
      <ion-text class="textAux" color="danger" style="margin-left: 10px;">{{ alertMessageEmail }}</ion-text>      
    </div>
  </div>

  <div style="margin: -30px 0px">
    <div class="textFieldWrapper">
      <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px"> Contraseña </ion-text>
      <ion-chip class="customChip" style="margin-top: 10px;">
        <ion-input mode="ios"
          class="textField whiteColor16Medium"
          style="margin: 0; padding-left: 10px;" 
          [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'" [(ngModel)]="password"
          [type]="securePassword?'password':'text'">
        </ion-input>
        <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
        (click)="securePassword=!securePassword"></ion-icon>
      </ion-chip>
    </div>
  </div>

  <ion-modal mode="md" #dialogPass trigger="openDialogPass" style="--border-radius: 10px">
    <ng-template>
      <div class="column" style="background-color: #2C2C2C;">
        <ion-text class="textAux" style="text-align: center; margin: 20px; margin-bottom: 10px; color:#FFFFFF; font-size: 18px">
          Recuperar contraseña
        </ion-text>
        <div style="background-color: #2C2C2C;">
          <div class="textFieldWrapper" style="background-color: #2C2C2C;">
            <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px;"> Correo electrónico </ion-text>
            <ion-chip class="customChip" style="margin-top: 10px; background-color: #2C2C2C;">
              <ion-input mode="ios" placeholder="Introduce tu correo" 
                class="textField whiteColor16Medium"
                style="margin: 0; padding-left: 10px;" 
                [(ngModel)]="emailRecover" inputmode="email" (ionChange)="validateEmail()">
              </ion-input>
            </ion-chip>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 20px; margin-top: 10px">
          <ion-chip (click)="dialogPass.dismiss()" style="background-color: #2C2C2C; display: flex; justify-content: center; align-items: center; width: 150px;">
            <ion-text class="textAux" style="color: white; text-align: center;">
              Cancelar
            </ion-text>
          </ion-chip>
          <ion-chip (click)="openDialogCode()" id="openDialogCode" style="background-color: #2758BF; display: flex; justify-content: center; align-items: center; width: 150px;">
            <ion-text class="textAux" style="color: white; text-align: center;">
              Enviar
            </ion-text>
          </ion-chip>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal mode="md" #dialogCode trigger="openDialogCode" style="--border-radius: 10px">
    <ng-template>
      <div class="column" style="background-color: #2C2C2C;">
        <ion-text class="textAux" style="text-align: center; margin-top: 30px; color:#FFFFFF; font-size: 18px">
          Cambiar contraseña
        </ion-text>
        <div style="background-color: #2C2C2C; margin-top: 10px">
          <div class="textFieldWrapper" style="background-color: #2C2C2C;">
            <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px;"> Código de verificación </ion-text>
            <ion-chip class="customChip" style="margin-top: 10px; background-color: #2C2C2C;">
              <ion-input mode="ios" placeholder="Introduce el código" 
                class="textField whiteColor16Medium"
                style="margin: 0; padding-left: 10px;" 
                [(ngModel)]="email" inputmode="text" (ionChange)="validateEmail()">
              </ion-input>
            </ion-chip>
            <ion-text class="textAux" color="danger" style="margin-left: 10px;">{{ alertMessageEmail }}</ion-text>      
          </div>
        </div>
        <div class="textFieldWrapper" style="background-color: #2C2C2C; margin-top: -30px">
          <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px"> Contraseña </ion-text>
          <ion-chip class="customChip" style="margin-top: 10px; background-color: #2C2C2C;">
            <ion-input mode="ios"
              placeholder="Introduce una nueva contraseña"
              class="textField whiteColor16Medium"
              style="margin: 0; padding-left: 10px;" 
              [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'" [(ngModel)]="password"
              [type]="securePassword?'password':'text'">
            </ion-input>
            <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
            (click)="securePassword=!securePassword"></ion-icon>
          </ion-chip>
        </div>
        <div class="textFieldWrapper" style="background-color: #2C2C2C; margin-top: -15px">
          <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px"> Verificar contraseña </ion-text>
          <ion-chip class="customChip" style="margin-top: 10px; background-color: #2C2C2C;">
            <ion-input mode="ios"
              placeholder="Verificar contraseña"
              class="textField whiteColor16Medium"
              style="margin: 0; padding-left: 10px;" 
              [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'" [(ngModel)]="password"
              [type]="securePassword?'password':'text'">
            </ion-input>
            <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
            (click)="securePassword=!securePassword"></ion-icon>
          </ion-chip>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 20px; margin-top: 20px">
          <ion-chip (click)="dialogCode.dismiss()" style="background-color: #2C2C2C; display: flex; justify-content: center; align-items: center; width: 150px;">
            <ion-text class="textAux" style="color: white; text-align: center;">
              Cancelar
            </ion-text>
          </ion-chip>
          <ion-chip (click)="dialogCode.dismiss()" id="openDialogCode" style="background-color: #2758BF; display: flex; justify-content: center; align-items: center; width: 150px;">
            <ion-text class="textAux" style="color: white; text-align: center;">
              Enviar
            </ion-text>
          </ion-chip>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-chip class="customChip" (click)="token()"
    style="margin: 60px 10px; background-color: #2758BF; color: #ffffff; border: none; height: 50px; display: flex; justify-content: center; align-items: center;">
    <ion-text class="textAux">Iniciar sesión </ion-text>
  </ion-chip>

  <div style="display: flex; justify-content: center; margin: 0 20px">
    <ion-text class="textAux" style="margin-top: 5px; color: #95B0E9" id="openDialogPass">
      Olvidaste la contraseña?
    </ion-text>
  </div>
</ion-content>

<ion-footer mode="ios">
  <div class="footer" style="display: flex;">
    <ion-text class="textAux" style="color: #FFFFFF;">
      No tienes una cuenta?
    </ion-text>
    <ion-text class="textAux" style="color: #95B0E9; margin-left: 10px;" (click)="goTo('auth/register')">
      Regístrate ahora
    </ion-text>
  </div>
</ion-footer>