.circle36 {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

.footer {
  padding: 20px;
  justify-content: center;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowAlignCenter {
  /* Styling for the row with job details */
  display: flex;
  align-items: center;
}

.rounded-top-corners {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  background-color: #2758BF;
}

.dialogButton {
  flex: 1;
  background-color: #2758BF;
  padding: 12px;
}

.menu-button-custom {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
}

.textTitle {
  font-family: 'Poppins', sans-serif !important;
  font-size: 30.91px !important;
  @apply font-bold;
  text-align: center !important;
  color: hsl(var(--primary-foreground)) !important;
  margin-block: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAux {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.customChip {
  background-color: black;
  /* Color de fondo del chip */
  border-radius: 100px;
  /* Bordes redondeados */
  border: 1px solid white;
  padding: 1px 20px;
  /* Espaciado interno */
  display: flex;
  /* Flex para centrar contenido */
  margin-left: 0%;
  margin-right: 0%;
  height: 40px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; // o center si quieres todo centrado
  padding-top: 15px; // ajusta según necesites
}

.logo-login {
  width: 60px; // o el tamaño que desees
}

.safe-footer {
  padding-bottom: var(--ion-safe-area-bottom);
}
