
<ion-header mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar color="false" style="background-color: #121212; height: 100%"></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full px-4 flex flex-col gap-4 max-w-[480px] mx-auto">
    <div class="login-container">
      <ion-img class="logo-login" [src]="iconLogin"></ion-img>

      <ion-text class="textTitle">
        Iniciar Sesión
      </ion-text>
    </div>



    <div class="flex flex-col gap-4 h-auto overflow-y-auto">
      <div class="flex flex-col gap-2 text-start">
        <span class="text-sm ml-5 text-primary-foreground"> Correo electrónico </span>
        <ion-chip class="field">
          <ion-input mode="ios" placeholder="Introduce tu correo" [(ngModel)]="email" inputmode="email"
            (ionChange)="validateEmail()">
          </ion-input>
        </ion-chip>
        <ion-text class="textAux" color="danger" style="margin-left: 10px;">{{ alertMessageEmail }}</ion-text>
      </div>

      <div class="flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Contraseña </ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'"
            [(ngModel)]="password" [type]="securePassword?'password':'text'">
          </ion-input>
          <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
            (click)="securePassword=!securePassword"></ion-icon>
        </ion-chip>
      </div>


      <ion-chip
        class="px-4 min-h-14 h-14 mt-6 bg-primary text-primary-foreground border-none rounded-full flex justify-center items-center"
        (click)="token()">
        <ion-text class="text-lg font-medium">Iniciar sesión </ion-text>
      </ion-chip>

      <ion-chip
        class="px-4 min-h-14 h-14 mt-6 bg-primary text-primary-foreground border-none rounded-full flex justify-center items-center"
        (click)="goTo('home-not-login')">
        <ion-text class="text-lg font-medium">Ver ofertas sin iniciar sesión </ion-text>
      </ion-chip>
      <!-- <ion-button (click)="testLocation()">Probar ubicación</ion-button> -->


      <div class="flex justify-center">
        <ion-text class="text-secondary text-sm" style="margin-top: 5px; color: #95B0E9" id="openDialogPass">
          ¿Olvidaste la contraseña?
        </ion-text>
      </div>
    </div>

  </div>

  <ion-modal mode="md" #dialogPass trigger="openDialogPass" style="--border-radius: 10px">
    <ng-template>
      <div
        class="my-2 bg-muted flex flex-col justify-center items-center rounded-xl px-3 py-5 h-full max-h-full overflow-y-auto">
        <ion-text class="text-primary-foreground text-2xl font-semibold text-center mb-7">
          Recuperar contraseña
        </ion-text>
        <div class="w-full flex-1 flex flex-col gap-4 max-h-full overflow-y-auto text-center">

          <div class="w-full flex flex-col gap-2 text-start">
            <ion-text class="text-sm ml-5 text-primary-foreground"> Correo electrónico </ion-text>
            <ion-chip class="field" style="margin-top: 10px; background-color: #2C2C2C;">
              <ion-input mode="ios" placeholder="Introduce tu correo" [(ngModel)]="emailRecover" inputmode="email"> </ion-input>
            </ion-chip>
          </div>

          <div class="flex gap-1 items-center justify-between mt-5">
            <ion-chip class="w-full h-12 rounded-full bg-accent flex justify-center items-center font-medium text-md" (click)="onDismissDialogPass()">
              <ion-text class="text-primary-foreground text-center">
                Cancelar
              </ion-text>
            </ion-chip>
            <ion-chip class="w-full h-12 rounded-full bg-primary flex justify-center items-center font-medium text-md" (click)="submitEmail()">
              <ion-text class="text-primary-foreground text-center">
                Enviar
              </ion-text>
            </ion-chip>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal mode="md" #dialogCode trigger="openDialogCode" style="--border-radius: 10px">
    <ng-template>
      <div
        class="my-2 bg-muted flex flex-col justify-center items-center rounded-xl px-3 py-5 h-full max-h-full overflow-y-auto">
        <ion-text class="text-primary-foreground text-2xl font-semibold text-center mb-7">
          Cambiar contraseña
        </ion-text>
        <ion-text class="text-sm text-center text-muted-foreground mb-4">
          Hemos enviado un correo electrónico con el código de seguridad, búscalo y modifica tu contraseña.
        </ion-text>
        <div class="w-full flex-1 flex flex-col gap-4 max-h-full overflow-y-auto text-center">
          <div class="w-full flex flex-col gap-2 text-start">
            <ion-text class="text-sm ml-5 text-primary-foreground"> Código de verificación </ion-text>
            <ion-chip class="field">
              <ion-input mode="ios" placeholder="Introduce el código" [(ngModel)]="code" inputmode="text"
                (ionChange)="validateCode()">
              </ion-input>
            </ion-chip>
            <ion-text class="textAux" color="danger" style="margin-left: 10px;">{{ alertMessageCode }}</ion-text>
          </div>

          <div class="w-full flex flex-col gap-2 text-start">
            <ion-text class="text-sm ml-5 text-primary-foreground"> Contraseña </ion-text>
            <ion-chip class="field">
              <ion-input mode="ios" placeholder="Introduce una nueva contraseña"
                [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'"
                [(ngModel)]="passwd" [type]="securePassword?'password':'text'">
              </ion-input>
              <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
                (click)="securePassword=!securePassword"></ion-icon>
            </ion-chip>
          </div>

          <div class="w-full flex flex-col gap-2 text-start">
            <ion-text class="text-sm ml-5 text-primary-foreground"> Verificar contraseña </ion-text>
            <ion-chip class="field">
              <ion-input mode="ios" placeholder="Verificar contraseña"
                [style.font-size]="password&&securePassword? platform.is('ios')?'14px':'14px':'14px'"
                [(ngModel)]="confirm_password" [type]="securePassword?'password':'text'">
              </ion-input>
              <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
                (click)="securePassword=!securePassword"></ion-icon>
            </ion-chip>
          </div>

          <div class="flex gap-1 items-center justify-between mt-5">
            <ion-chip class="w-full h-12 rounded-full bg-accent flex justify-center items-center font-medium text-md"
              (click)="dialogCode.dismiss()">
              <ion-text class="text-primary-foreground text-center">
                Cancelar
              </ion-text>
            </ion-chip>
            <ion-chip class="w-full h-12 rounded-full bg-primary flex justify-center items-center text-md font-medium"
              (click)="changePassword()" id="openDialogCode">
              <ion-text class="text-primary-foreground text-center">
                Enviar
              </ion-text>
            </ion-chip>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer mode="ios" class="safe-footer">
  <div class="footer flex justify-center items-center gap-2 text-[15px]">
    <ion-text class="text-primary-foreground">
      ¿No tienes una cuenta?
    </ion-text>
    <ion-text class="text-secondary font-medium" (click)="goTo('auth/register')">
      Regístrate ahora
    </ion-text>
  </div>
</ion-footer>
