<!-- CANDIDATES MODAL -->
<ion-modal mode="md" #modal trigger="open-candidates-modal" style="--border-radius: 5px; --background: #2C2C2C;">
  <ng-template>
    <div class="flex flex-col gap-4 bg-muted rounded-2xl px-3 py-5">
      <p class="text-primary-foreground text-2xl font-semibold text-center mb-4">
        Candidatos
      </p>

      <div class="flex flex-1 flex-col gap-5 max-h-[520px] overflow-y-auto">
        <ng-container *ngFor="let candidate of candidates">
          <div class="w-full flex items-center gap-2 px-2">
            <div class="bg-destructive rounded-full size-[90px]">
              <ng-image width="90px" height="90px" [fallbackErrorSrc]="icPersonAsset"
                [src]="stablishUrlPic(candidate.user.icon)" alt="Candidate Icon"
                class="min-w-[90px] min-h-[90px] size-[90px] object-cover rounded-full overflow-hidden" />
            </div>
            <div class="flex-1 text-start text-primary-foreground text-lg">
              <p>{{candidate.user.fullname}}</p>
              <p class="text-muted text-sm">
                {{candidate.user.specialization}}
              </p>
              <ion-chip
                class="bg-primary mt-4 h-8 text-primary-foreground text-sm font-medium rounded-full flex justify-center items-center"
                (click)="goToDetails(candidate)">
                Ver perfil
              </ion-chip>
            </div>

          </div>
        </ng-container>
      </div>
    </div>

  </ng-template>
</ion-modal>