<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false">
    <div class="rowAlignCenter margin20 center" style="position: relative">
      <!-- <span (click)="goBack()" class="material-icons headerBackArrow" style="color: #FFF;">
        keyboard_backspace
      </span> -->
      <ion-text class="text-primary-foreground text-2xl text-ellipsis line-clamp-1 font-semibold text-center">
        Crear nueva oferta
      </ion-text>
      <!-- <ion-text style="max-width: 80%; -webkit-line-clamp: 1; text-align: left; position: absolute; right: 0;">
        <ion-menu-button menu="sidebarMenuCourses" class="menu-button-custom" color="whiteColor" style="font-size: 30px"></ion-menu-button>
      </ion-text> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full px-5 py-6 max-h-full overflow-y-auto">
    <div style="margin-top: 10px;">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Título de la oferta
        </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" placeholder="Introduce el título de la oferta" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="title">
          </ion-input>
        </ion-chip>
        <ion-text color="danger" style="margin-left:20px;" *ngIf="!title && showErrorMessage">Este campo es
          obligatorio</ion-text>
      </div>
    </div>

    <div style="margin-top: -15px">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Horario de trabajo
        </ion-text>
        <ion-chip id="open-work-time-dialog" class="customChip relative"
          style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" type="text" placeholder="Horario de trabajo" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="amount">
          </ion-input>
          <span class="material-icons text-primary-foreground absolute top-2/4 -translate-y-2/4 right-1">
            arrow_drop_down
          </span>
        </ion-chip>
        <ion-text color="danger" style="margin-left:20px;" *ngIf="!type_time && showErrorMessage">Este campo es
          obligatorio</ion-text>
      </div>
    </div>

    <div style="margin-top: -15px">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Salario de la oferta
        </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" type="text" placeholder="Salario" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="amount"
            (ionChange)="formatAmount()">
          </ion-input>

        </ion-chip>
        <ion-text color="danger" style="margin-left:20px;" *ngIf="!amount && showErrorMessage">Este campo es
          obligatorio</ion-text>
      </div>
    </div>

    <div style="margin-top: -15px">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Ubicación </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" type="text" placeholder="Introduce la ubicación" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="location">
          </ion-input>
        </ion-chip>
      </div>
    </div>

    <div style="margin-top: -15px">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Descripción </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" type="text" placeholder="Introduce la descripción" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="description">
          </ion-input>
        </ion-chip>
      </div>
    </div>

    <div style="margin-top: -15px">
      <div class="textFieldWrapper" style="background-color: transparent;">
        <ion-text class="textAux" style="color: #FFFBF7; margin-left:20px; font-size: 14px"> Requerimientos
        </ion-text>
        <ion-chip class="customChip" style="margin-top: 10px; background-color: #121212;">
          <ion-input mode="ios" type="text" placeholder="Introduce los requerimientos" class="textAux"
            style="color: #FFFBF7; margin: 0; padding-left: 10px; font-size: 12px;" [(ngModel)]="newItem"
            (keyup.enter)="addItemToList()">
          </ion-input>
        </ion-chip>
      </div>
      <div style="margin-left: 20px;">
        <ion-chip style="background-color: #FFFBF7;" *ngFor="let item of requeriment">
          <ion-label class="textAux" style="color: #121212; font-size: 12px;">{{ item }}</ion-label>
          <ion-icon name="close-circle" (click)="removeItem(item)" style="color: #2758BF;"></ion-icon>
        </ion-chip>
      </div>
    </div>
  </div>

  <ion-modal #workTimeDialog mode="ios" trigger="open-work-time-dialog" style="--height: auto; --width: 100%;">
    <ng-template>
      <div class="w-full bg-muted flex flex-col justify-center items-center gap-y-8 rounded-xl px-4 py-5">
        <ion-radio-group value="complete-time" class="w-full flex flex-col gap-3 text-primary-foreground">
          <ion-radio mode="md" value="complete-time" justify="start" labelPlacement="end" aria-label="Complete Time"
            class="block">Tiempo
            completo</ion-radio>
          <ion-radio mode="md" value="part-time" justify="start" labelPlacement="end" aria-label="Part Time"
            class="block">Medio
            Tiempo</ion-radio>
          <ion-radio mode="md" value="freelance" justify="start" labelPlacement="end" aria-label="Freelance"
            class="block">Freelance</ion-radio>
        </ion-radio-group>

        <div class="w-full flex gap-2 justify-end items-center">
          <ion-chip
            class="text-primary-foreground  text-lg flex justify-center items-center font-medium bg-transparent px-4">
            <ion-text (click)="workTimeDialog.dismiss()">
              Cancelar
            </ion-text>
          </ion-chip>
          <ion-chip
            class="text-primary-foreground bg-primary text-lg h-12 rounded-3xl py-4 px-6 flex justify-center items-center"
            (click)="workTimeDialog.dismiss()">
            <ion-text>
              Seleccionar
            </ion-text>
          </ion-chip>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer mode="ios" class="bg-background px-5">
  <ion-chip class="customChip mx-2 mb-4 mt-5" (click)="saveNewRecord()"
    style="background-color: #2758BF; color: #ffffff; border: none; height: 50px; display: flex; justify-content: center; align-items: center;">
    <ion-text class="textAux" style="font-size: 16px;">Guardar </ion-text>
  </ion-chip>

  <!-- <div class="center button" style="background-color: #2758BF" (click)="saveNewRecord()">
      <ion-text class="whiteColor18SemiBold"> Guardar </ion-text>
  </div> -->
</ion-footer>