<ion-menu #menu class="custom-menu" style="border: none; margin: 0;" side="end" menuId="sidebarMenuCourses" contentId="main-content" type="overlay" swipeGesture="true">
  <ion-header mode="ios" [translucent]="false" class="ion-no-border">
    <ion-toolbar color="false" style="background-color: #2758bf; height: 100%;">
      <span class="icon-container" style="text-align: center;">
        <ion-text style="color: white; margin-left: 30%; margin-right: 10px; margin-top: 1px; text-align: center;"> Ett Venezuela </ion-text>
      </span>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item id="openLogoutDialogCourses">
        <span class="material-icons side-icon">
          logout
        </span>  
        <div class="side-text">Cerrar sesión</div>
      </ion-item>
    </ion-list>

    <ion-modal mode="md" #logoutDialogCourses trigger="openLogoutDialogCourses" style="--border-radius: 10px">
      <ng-template>
        <div class="column">
          <ion-text class="blackColor18Medium" style="text-align: center; margin: 20px; margin-bottom: 30px">
            ¿Está seguro de que desea cerrar sesión?
          </ion-text>
          <div class="row">
            <div (click)="logoutDialogCourses.dismiss()" class="center dialogButton" style="margin-right: 1px">
              <ion-text class="whiteColor18SemiBold"> Cancelar </ion-text>
            </div>
            <div (click)="logoutDialogCourses.dismiss();goTo('auth/login');logout()" class="center dialogButton"
              style="margin-left: 1px">
              <ion-text class="whiteColor18SemiBold"> Cerrar sesión </ion-text>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer>
    <div>
      <ion-text class="whiteColor18SemiBold" style="font-size: 6vw;">text</ion-text>
    </div>
  </ion-footer>
</ion-menu>

<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="false" style="background-color: #2758BF;">
    <div class="rowAlignCenter margin20 center" style="position: relative">
      <span (click)="goBack()" class="material-icons headerBackArrow" style="color: #FFF;">
        keyboard_backspace
      </span>
      <ion-text class="whiteColor20Bold ellipseText" style="max-width: 80%; -webkit-line-clamp: 1; text-align: center">
        Crear nueva oferta
      </ion-text>
      <ion-text style="max-width: 80%; -webkit-line-clamp: 1; text-align: left; position: absolute; right: 0;">
        <ion-menu-button menu="sidebarMenuCourses" class="menu-button-custom" color="whiteColor" style="font-size: 30px"></ion-menu-button>
      </ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <div class="rounded-top-corners" style="background-color: rgb(255, 255, 255); height: 100%;">
    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-input mode="ios" placeholder="Titulo de la oferta" class="textField lightColor16Medium"
          style="min-height: 20px" [(ngModel)]="title">
        </ion-input>
      </div>
      <ion-text color="danger" *ngIf="!title && showErrorMessage">Este campo es obligatorio</ion-text>
    </div>

    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-select interface="auto" placeholder="Horario de Trabajo" class="textField blackColor16Medium"
          style="min-height: 20px" [(ngModel)]="type_time">
          <ion-select-option value="Tiempo completo">Tiempo completo</ion-select-option>
          <ion-select-option value="Medio tiempo">Medio tiempo</ion-select-option>
          <ion-select-option value="Freelance">Freelance</ion-select-option>
        </ion-select>
      </div>
      <ion-text color="danger" *ngIf="!type_time && showErrorMessage">Este campo es obligatorio</ion-text>
    </div>

    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-input 
          mode="ios" 
          type="text" 
          placeholder="Salario" 
          [(ngModel)]="amount"
          (ionChange)="formatAmount()"
        ></ion-input>
      </div>
      <ion-text color="danger" *ngIf="!amount && showErrorMessage">Este campo es obligatorio</ion-text>
    </div>

    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-input 
          mode="ios" 
          type="text" 
          placeholder="Ubicación" 
          [(ngModel)]="location"
        ></ion-input>
      </div>
    </div>

    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-input 
          mode="ios" 
          type="text" 
          placeholder="Descripción" 
          [(ngModel)]="description"
        ></ion-input>
      </div>
    </div>

    <div class="margin20" style="margin-top: 10px">
      <div class="textFieldWrapper">
        <ion-input mode="ios" placeholder="Requerimientos" class="textField lightColor16Medium" style="min-height: 20px" [(ngModel)]="newItem" (keyup.enter)="addItemToList()"></ion-input>
      </div>
      <ion-chip *ngFor="let item of requeriment">
        <ion-label>{{ item }}</ion-label>
        <ion-icon name="close-circle" (click)="removeItem(item)"></ion-icon>
      </ion-chip>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios" style="background-color: var(--whiteColor)">
  <div class="center button" style="background-color: #2758BF" (click)="saveNewRecord()">
      <ion-text class="whiteColor18SemiBold"> Guardar </ion-text>
  </div>
</ion-footer>