.footer {
  padding: 20px;
  justify-content: center;
  background-color: var(--whiteColor);
  display: flex;
}

ion-segment {
  --background: #e9e9e9;
}

.textFieldWrapperNew{
  padding: 15px 12px;
  border-radius: 10px;
  margin-top: 10px;
}