<ion-header mode="ios" [translucent]="false" class="ion-no-border">
  <ion-toolbar color="whiteColor" style="height: 0"></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full px-4 flex flex-col gap-4 max-w-[480px] mx-auto">
    <ion-text class="textTitle">
      Regístrate
    </ion-text>

    <div class="flex flex-1 flex-col gap-4 max-h-full overflow-y-auto">
      <div class="flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Nombre</ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" placeholder="Introduce tu nombre" [(ngModel)]="name">
          </ion-input>
        </ion-chip>
        <ion-text class="textAux" color="danger" *ngIf="!name && showErrorMessage" style="margin-left: 15px;">Este campo
          es obligatorio</ion-text>
      </div>

      <div class="flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Correo electrónico</ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" placeholder="Introduce tu correo" [(ngModel)]="email" inputmode="email" required
            (ionChange)="validateEmail()">
          </ion-input>
        </ion-chip>
        <ion-text class="textAux" color="danger" *ngIf="!name && showErrorMessage" style="margin-left: 15px;">Este campo
          es obligatorio</ion-text>
        <ion-text class="textAux" color="danger" style="margin-left: 15px;">{{ alertMessageEmail }}</ion-text>
      </div>

      <div class="flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Teléfono</ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" placeholder="Introduce tu teléfono" [(ngModel)]="mobileNo" inputmode="numeric">
          </ion-input>
        </ion-chip>
        <ion-text class="textAux" color="danger" *ngIf="!name && showErrorMessage" style="margin-left: 15px;">Este campo
          es obligatorio</ion-text>
      </div>

      <div class="flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Contraseña </ion-text>
        <ion-chip class="field">
          <ion-input mode="ios" [(ngModel)]="password" [type]="securePassword?'password':'text'">
          </ion-input>
          <ion-icon [name]="securePassword ? 'eye':'eye-off'" color="whiteColor" style="font-size: 18px"
            (click)="securePassword=!securePassword"></ion-icon>
        </ion-chip>
        <ion-text class="textAux" color="danger" *ngIf="!name && showErrorMessage" style="margin-left: 15px;">Este campo
          es obligatorio</ion-text>
      </div>


      <div class="w-full flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> RIF (opcional)</ion-text>
        <div class="min-h-[48px]">

          <div class="field">
            <ion-input mode="ios" placeholder="Ingrese su RIF" [(ngModel)]="rifValue" inputmode="numeric">
            </ion-input>
          </div>
          <div>
          </div>

        </div>
      </div>

      <div class="w-full flex flex-col gap-2 text-start">
        <ion-text class="text-sm ml-5 text-primary-foreground"> Identificación (opcional)</ion-text>
        <div class="min-h-[48px]">

          <div class="field">
            <ion-input mode="ios" placeholder="Ingrese su identificación" [(ngModel)]="identificationValue">
            </ion-input>
          </div>
        </div>
      </div>


      <ion-segment value="PERSON" mode="ios" style="margin-top:.5rem" (ionChange)="seleccionarTipoCuenta($event)">
        <ion-segment-button value="PERSON" layout="icon-start" (click)="this.accountType='PERSON'">
          <ion-icon name="person" style="font-size: 16px"></ion-icon>
          <ion-label>Personal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="COMPANY" layout="icon-start" (click)="this.accountType='COMPANY'">
          <ion-icon name="business" style="font-size: 16px"></ion-icon>
          <ion-label>Empresarial</ion-label>
        </ion-segment-button>
      </ion-segment>


    </div>
    <ion-chip
      class="px-4 h-14 mt-6 bg-primary text-primary-foreground border-none rounded-full flex justify-center items-center"
      (click)="crearCuenta()">
      <ion-text class="text-md font-medium">Registrarme</ion-text>
    </ion-chip>
  </div>
</ion-content>


<ion-footer mode="ios" class="bg-background">
  <div class="footer flex justify-center items-center gap-2 text-[15px]">
    <ion-text class="text-primary-foreground">
      ¿Ya tienes una cuenta?
    </ion-text>
    <ion-text class="text-secondary font-medium" (click)="goTo('auth/login')">
      Iniciar sesión
    </ion-text>
  </div>
</ion-footer>