.footer {
  padding: 20px;
}

.customChipTow {
  background-color: black;
  /* Color de fondo de la chip */
  border-radius: 30px;
  /* Bordes redondeados */
  padding: 10;
  /* Sin padding para el contenedor */
  border: 1px solid white;
}

ion-segment {
  --background: transparent;
  /* Fondo transparente */
  border-radius: 0px;
  /* Bordes redondeados */
  margin: 0;
  padding: .5px;
  min-height: 46px;
  /* Sin márgenes para llenar el contenedor */
}

ion-segment-button {
  --background: transparent;
  /* Fondo transparente para los botones */
  --color: white;
  /* Color del texto */
  padding: 5px 10px;
  /* Espaciado interno para los botones */
  border-radius: 0;
  /* Sin bordes redondeados en los botones */
  display: flex;
  align-items: center;
}


ion-segment-button::part(indicator-background) {
  background: #FFFBF7;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: white;
}

.segment-button-checked.md::part(native) {
  color: white;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: white;
}

.segment-button-checked.ios::part(native) {
  color: black;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

// .icon-segment {
//   margin-right: 5px; /* Espacio entre el icono y el texto */
//   font-size: 20px; /* Tamaño del icono, ajusta según sea necesario */
// }

.textFieldWrapperNew {
  padding: 15px 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.textTitle {
  font-family: 'Poppins', sans-serif !important;
  font-size: 30.91px !important;
  @apply font-bold;
  text-align: center !important;
  color: hsl(var(--primary-foreground)) !important;
  margin-block: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAux {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.customChip {
  background-color: black;
  /* Color de fondo del chip */
  border-radius: 100px;
  /* Bordes redondeados */
  border: 1px solid white;
  padding: 1px 20px;
  /* Espaciado interno */
  display: flex;
  /* Flex para centrar contenido */
  margin-left: 0%;
  margin-right: 0%;
  height: 40px;
}