<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button tab="home">
      <span class="material-icons" style="font-size: 26px">home_filled</span>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubble-ellipses" style="font-size: 23px"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <span class="material-icons" style="font-size: 26px">person</span>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="courses">
      <span class="material-icons" style="font-size: 26px">school</span>
      <ion-label>Cursos</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="wallet">
      <span class="material-icons">account_balance_wallet</span>
      <ion-label>Billetera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
