<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button tab="home">
      <span class="material-icons" style="font-size: 26px">home_filled</span>
      <ion-label style="margin-top: 10px;">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubble-ellipses" style="font-size: 23px"></ion-icon>
      <ion-label style="margin-top: 10px;">Mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <span class="material-icons" style="font-size: 26px">person</span>
      <ion-label style="margin-top: 10px;">Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <span class="material-icons">account_balance_wallet</span>
      <ion-label style="margin-top: 10px;">Billetera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
