.dialogButton {
  flex: 1;

  padding: 12px;
}

ion-menu.custom-menu {
  --border-radius: 0px;

}

ion-menu.custom-menu::part(container) {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden !important;
  border: none !important;
  box-shadow: none !important;
  width: 85%;
}

ion-menu.custom-menu::part(content) {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden !important;
}

.side-icon {
  margin-right: 15px;
  /* Ajusta el margen según sea necesario */
  color: #2758bf;
  font-size: 22px;
  text-align: right;
}

.side-text {
  flex-grow: 2;
  text-align: left;
  color: #2758bf;
  font-size: 4vw;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Ajusta según sea necesario */
}