<ion-menu #menu class="custom-menu" style="border: none; margin: 0;" side="end" menuId="app-menu"
  contentId="main-content" type="overlay" swipeGesture="true">

  <ion-content style="--background: hsl(var(--muted))">
    <div class="flex flex-col items-end gap-4 px-3 py-4 mt-8">
      <div class="flex justify-end py-4 px-2">
        <button class="bg-primary w-8 h-8 rounded-full flex justify-center items-center" (click)="closeMenu()">
          <span class="material-icons">
            close
          </span>
        </button>
      </div>
      <div class="flex flex-col items-end gap-y-5 px-2 py-4">
        <button type="button" id="openLogoutDialog"
          class="bg-transparent outline-none border-none text-right text-pretty" (click)="closeMenu()">

          <span class="text-2xl font-semibold text-primary-foreground">Cerrar sesión</span>
        </button>
        <button type="button" class="bg-transparent outline-none border-none text-right text-pretty"
          (click)="closeMenu()">

          <span class="text-2xl font-semibold text-primary-foreground">Términos y condiciones</span>
        </button>

      </div>
    </div>
    <ion-modal mode="md" #logoutDialog trigger="openLogoutDialog" style="--border-radius: 10px">
      <ng-template>
        <div class="column bg-muted text-primary-foreground px-4">
          <div class="flex justify-center items-center w-full h-24">
            <ion-text class="text-center text-lg">
              ¿Está seguro de que desea cerrar sesión?
            </ion-text>
          </div>
          <div class="w-full flex gap-2 justify-center items-center mt-3 mb-5">
            <ion-chip
              class="w-full text-primary-foreground  text-lg flex justify-center items-center font-medium bg-transparent px-4">
              <ion-text (click)="logoutDialog.dismiss()">
                Cancelar
              </ion-text>
            </ion-chip>
            <ion-chip
              class="w-full text-primary-foreground bg-primary text-lg h-12 rounded-3xl py-4 px-6 flex justify-center items-center"
              (click)="logout()">
              <ion-text>
                Cerrar sesión
              </ion-text>
            </ion-chip>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-menu>

<div class="ion-page bg-background" id="main-content">
  <ng-content />
</div>