<ion-menu #menu class="custom-menu" style="border: none; margin: 0;" side="end" menuId="first" contentId="main-content" type="overlay" swipeGesture="true">
  <ion-header mode="ios" [translucent]="false" class="ion-no-border">
    <ion-toolbar color="false" style="background-color: #2758bf; height: 100%">
      <!-- <ion-title style="text-align: center; color: #FFF;">Opciones</ion-title> -->
      <span class="icon-container">
        <span class="material-icons" style="color: white;">
          handyman
        </span>
        <ion-text style="color: white; margin-left: 10px; margin-right: 10px;"> Opciones </ion-text>
        <span class="material-icons" style="color: white;">
          handyman
        </span>
      </span>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item id="openLogoutDialogHome">
        <span class="material-icons side-icon">
          logout
        </span>  
        <div class="side-text">Cerrar sesión</div>
      </ion-item>
    </ion-list>

    <ion-modal mode="md" #logoutDialog trigger="openLogoutDialogHome" style="--border-radius: 10px">
      <ng-template>
        <div class="column">
          <ion-text class="blackColor18Medium" style="text-align: center; margin: 20px; margin-bottom: 30px">
            ¿Está seguro de que desea cerrar sesión?
          </ion-text>
          <div class="row">
            <div (click)="logoutDialog.dismiss()" class="center dialogButton" style="margin-right: 1px">
              <ion-text class="whiteColor18SemiBold"> Cancelar </ion-text>
            </div>
            <div (click)="logoutDialog.dismiss();goTo('auth/login');logout()" class="center dialogButton"
              style="margin-left: 1px">
              <ion-text class="whiteColor18SemiBold"> Cerrar sesión </ion-text>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer>
    <div>
      <ion-text class="whiteColor18SemiBold" style="font-size: 6vw;">text</ion-text>
    </div>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>




