<ion-content [fullscreen]="true" scrollY="false">
  <div class="column relative h-full max-h-full">

    <!-- Pantalla inicial -->
    <ng-container *ngIf="showMainImage; else carouselBlock">
      <div class="relative h-full">
        <ion-img class="bgImage" [src]="smallBusinessAsset"></ion-img>
        <div class="darkOverlay"></div>

        <div class="overlayContent px-5">
          <ion-img [src]="ettLogoAsset" class="overlayLogo"></ion-img>

          <ion-text class="overlayText mb-4">
            La suerte es lo que sucede cuando la preparación se encuentra con la oportunidad.
          </ion-text>
          <ion-text class="overlayTextTow">
            Ett, una app creada para venezolanos en busca de empleo.
          </ion-text>
        </div>

        <ion-chip class="centeredButton" (click)="continueToCarousel()"
          style="background-color: #2758BF; color: white;">
          Comenzar
        </ion-chip>
      </div>
    </ng-container>

    <!-- Carrusel -->
    <ng-template #carouselBlock>
      <div class="swiperPosition h-full">

        <!-- Slides -->
        <ng-container *ngFor="let item of onboardingScreenList; let i = index">
          <div class="slide column" *ngIf="i === currentIndex" [style.height]="screenHeight+'px'">
            <div class="imageWrapper">
              <ion-img [src]="item.onboardingImage" class="bgImage"></ion-img>
              <div class="blueOverlay"></div>
              <div class="overlayContent custom">
                <ion-text class="overlayTextThree text-center">{{item.onboardingTitle}}</ion-text>
                <ion-text class="overlayTextfour md:text-lg">{{item.onboardingDescription}}</ion-text>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Indicadores -->
        <div class="indicators">
          <div *ngFor="let item of onboardingScreenList; let i = index" class="indicator"
               [ngClass]="{'active': i === currentIndex}">
          </div>
        </div>

        <!-- Botón siempre visible -->
        <ion-chip class="centeredButton"
          [style.background]="currentIndex < onboardingScreenList.length - 1 ? '#ffffff' : '#2758BF'"
          [style.color]="currentIndex < onboardingScreenList.length - 1 ? '#2758BF' : '#ffffff'"
          (click)="handleButtonPress()">
          {{currentIndex < onboardingScreenList.length - 1 ? 'Siguiente' : 'Comenzar'}}
        </ion-chip>

      </div>
    </ng-template>

  </div>
</ion-content>
