<ion-content [fullscreen]="true" scrollY="false">
  <div class="column relative h-full max-h-full">
    <div class="relative h-full" *ngIf="showMainImage">
      <ion-img class="bgImage" src="../../../assets/images/small-business.png"></ion-img>
      <div class="darkOverlay"></div>

      <div class="overlayContent px-5">
        <ion-img src="../../../assets/images/ett-logo.png" class="overlayLogo"></ion-img>

        <ion-text class="overlayText mb-4">Haz que tu búsqueda de empleo sea efectiva</ion-text>
        <ion-text class="overlayTextTow">Ett, una app creada para venezolanos en busca de empleo.</ion-text>
      </div>

      <ion-chip class="centeredButton" (click)="continueToCarousel()"
        style="background-color: #2758BF; color: white;">Comenzar</ion-chip>
    </div>

    <!-- Carrusel que se muestra al continuar -->
    <div class="swiperPosition h-full" *ngIf="!showMainImage">
      <swiper-container class="h-auto" #swiper (slidechange)="slideChangeCall();"
        [autoplay]="{autoplay:true,disableOnInteraction:false,delay:2800}">
        <swiper-slide *ngFor="let item of onboardingScreenList; let i = index">
          <div class="column" style="margin: 0 20px; display: flex" [style.height]="screenHeight+'px'">
            <div class="imageWrapper">
              <ion-img [src]="item.onboardingImage" class="bgImage"></ion-img>
              <div class="blueOverlay"></div>
              <div class="overlayContent custom">
                <ion-text class="overlayTextThree text-center">{{item.onboardingTitle}}</ion-text>
                <ion-text class="overlayTextfour md:text-lg">{{item.onboardingDescription}}</ion-text>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      <!-- Indicadores -->
      <div class="indicators">
        <div *ngFor="let item of onboardingScreenList; let i = index" class="indicator"
          [ngClass]="{'active': i === currentIndex}">
        </div>
      </div>
      <ion-chip class="centeredButton" (click)="handleButtonPress()" style="background-color: white; color: #2758BF;">
        {{currentIndex < 2 ? 'Siguiente' : 'Comenzar' }}</ion-chip>
    </div>
  </div>
</ion-content>