/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";
@import "./theme/styles.scss";
@import "material-icons/iconfont/material-icons.css";

@font-face {
  font-family: 'SF-Compact-Display';
  src: url('./assets/fonts/SF-Compact-Display-Semibold.ttf') format('truetype');
  font-weight: 600;
}

* {
  font-family: "CompactDisplay";
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

ion-content {
  --background: black;
}

.ellipseText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.horizontalScroll {
  overflow-x: scroll;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

.exitWrapper {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.exitText {
  background-color: #333333;
  padding: 10px 15px;
  border-radius: 20px;
}

.margin20 {
  margin: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.rowAlignCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageOverflow {
  overflow: hidden;
  object-fit: cover;
}

ion-toast {
  --color: var(--whiteColor);
  --background: var(--blackColor);
  --box-shadow: 0 0 0;
  --border-radius: 5px;
}

ion-modal {
  --width: 90%;
  --height: fit-content;
  --border-radius: 5px;
}

.textFieldWrapper{
  background-color: var(--extraLightGrayColor);
  padding: 15px 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.textField {
  --placeholder-color: #FFFBF7;
  --placeholder-opacity: 0.7;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.headerBackArrow {
  color: var(--blackColor);
  font-size: 28px;
  position: absolute;
  left: 0px;
}

.jobCard {
  justify-content: space-between;
  background-color: var(--extraLightGrayColor);
  border-radius: 10px;
  margin: 20px;
  padding: 20px 15px;
}

.button{
  background-color: var(--primaryColor);
  padding: 18px;
  margin:20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--primaryColor);
}

