/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/fonts.scss";
@import "./theme/styles.scss";
@import "./theme/tailwind.scss";
@import "./theme/alert.scss";
@import "./theme/loading.scss";
@import "material-icons/iconfont/material-icons.css";


html {
  --ion-default-font: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

body,
*,
*::after,
*::before {
  --ion-default-font: "Poppins", sans-serif;
  font-family: 'Poppins', sans-serif;
}

p,
span {
  text-wrap: pretty;
  color: hsl(var(--primary-foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: hsl(var(--primary-foreground));
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

ion-content {
  --background: hsl(var(--background));
}

.ellipseText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.horizontalScroll {
  overflow-x: scroll;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.exitWrapper {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.exitText {
  background-color: #333333;
  padding: 10px 15px;
  border-radius: 20px;
}

.margin20 {
  margin: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.rowAlignCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.columnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageOverflow {
  overflow: hidden;
  object-fit: cover;
}

ion-toast {
  --color: var(--whiteColor);
  --background: var(--blackColor);
  --box-shadow: 0 0 0;
  --border-radius: 5px;
}

ion-modal {
  --width: 90%;
  --height: fit-content;
  --border-radius: 5px;

  &::part(content) {
    background: transparent !important;
  }
}

ion-modal.md {
  &::part(content) {
    max-width: 480px;
  }
}

.textFieldWrapper {
  // background-color: var(--extraLightGrayColor);
  padding: 15px 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.textField {
  --placeholder-color: #FFFBF7;
  --placeholder-opacity: 0.7;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.headerBackArrow {
  color: var(--blackColor);
  font-size: 28px;
  position: absolute;
  left: 0px;
}

.jobCard {
  justify-content: space-between;
  background-color: var(--extraLightGrayColor);
  border-radius: 10px;
  margin: 20px;
  padding: 20px 15px;
}

.button {
  background-color: var(--primaryColor);
  padding: 18px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px var(--primaryColor);
}

ion-buttons {
  background: transparent !important;
}

ion-menu-button {
  padding: 0px !important;
  margin: 0px !important;
  background: transparent !important;

  &::part(native) {
    padding: 0 !important;
    margin: 0 !important;
  }
}

// ::part(scroll) {
//   // display: flex;
//   // flex-direction: column;
//   // max-height: 100%;
//   // flex: 1;
//   // row-gap: .25rem;
// }


/* CUSTOM SCROLLBAR */


::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--destructive));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--destructive));
  border-radius: 10px;
  border: 2px solid hsl(var(--muted));
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--destructive));
}

.overflow-y-auto,
.overflow-y-scroll,
.scroll-y {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted)) hsl(var(--destructive));

  ::part(scroll) {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted)) hsl(var(--destructive));
  }
}

html.plt-android {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

/*   */

/* CUSTOM RADIO GROUP */

ion-radio {
  --border-radius: 10px;
  --inner-border-radius: 10px;

  --color: hsl(var(--foreground));
  --color-checked: hsl(var(--foreground));

  &::part(label) {
    margin-inline-start: 10px !important;
  }

  .radio-wrapper {
    justify-content: flex-start;
    gap: 0;
  }
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid hsl(var(--foreground));
  border-radius: 50%;
}

.radio-checked.ios::part(container) {
  border-color: hsl(var(--foreground));
}

/* */

.field {
  background-color: transparent;
  /* Color de fondo del chip */
  border-radius: 30px;
  /* Bordes redondeados */
  border: 1px solid hsl(var(--foreground));
  padding: 1px 20px;
  /* Espaciado interno */
  display: flex;

  height: 48px;

  position: relative;


  ion-input {
    height: 100% !important;
    min-height: 100% !important;
    font-size: 14.5px;
    color: hsl(var(--primary-foreground));
    font-family: 'Poppins';

    &::placeholder {
      font-family: 'Poppins';
    }
  }

  ion-textarea {
    font-size: 14.5px;
    --placeholder-color: hsl(var(--primary-foreground)/.8);
    --placeholder-opacity: 0.7;

    color: hsl(var(--primary-foreground));
    font-family: 'Poppins';

    &::placeholder {
      font-family: 'Poppins';
    }
  }
}

.field.textarea {
  height: auto;
  border-radius: 24px;
}