.itemWrapper {
  border: 1px solid var(--grayColor);
  border-radius: 50px;
  padding: 5px 15px;
  margin: 5px;
}

.applyButton {
  background-color: var(--primaryColor);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-left: 20px;
}
